[2013-03-01 10:25] xeno-by opened #1 ""0 misspelled words" on sublime screenshots is not standard UI"

[2013-03-01 10:55] sstucki opened #2 ""Concise and powerful. (...)" Java example in "See Scala in action" scroller has a bug."
I think that the Java example in the "Concise and powerful. (...)" slide is not doing what the corresponding Scala code is doing. The last line might overwrite the contents of `minors` (which at this point is an alias to `people`) with that of `adultsList`.

Fix: replace the last two lines with

[code]

[2013-03-01 12:08] xeno-by opened #3 "https://github.com/scala/scala/blob/master/README.rst needs to be updated"

[2013-03-01 13:10] lrytz opened #4 "carrousel on main page sometimes keeps rotating even when mouse is hovering over it"
don't know how to reproduce it though.

also dots would be nice (to see how many items there are are).

[2013-03-01 13:48] cvogt opened #6 "redirects old archive to new site"
We need to compose a list of paths of the old site, which should be redirected to paths in the new site. Heather, can you compose the list and I install the redirects?

[2013-03-01 14:26] heathermiller opened #7 "Style training/events feed on frontpage"
As of yet todo.

[2013-03-01 14:27] heathermiller opened #8 "Finish up footer, should contain all bullet points of dropdown menu"
As of yet todo

[2013-03-01 14:32] heathermiller opened #9 "REMOVE dropdown from top navigation menu"

[2013-03-01 14:44] heathermiller opened #10 "Template for a Scala/LAMP blog"

[2013-03-01 16:17] heathermiller opened #11 "Syntax highlighting for code/pre blocks (port prettify from doc-site)"

[2013-03-01 16:58] xeno-by opened #12 "migrate the compiler plugin guide to docs.scala-lang.org"

[2013-03-01 17:47] heathermiller opened #13 "Need to mention the SIP process somewhere on the site, probably the contribute section"

[2013-03-02 06:17] heathermiller opened #14 "Styling of "community" tickets feed from JIRA"
For display somewhere in the "Contribute" section of the website.

Would anyone be up for that?

[2013-03-02 10:36] heathermiller opened #15 "Looks terrible in mobile browsers now. Needs to be re-responsive-fied."
I think it has something to do with giving fixed sizes to several elements, and to changing positioning.

Also, some of Bootstrap's `@media` responsive features could be used to fix this stuff.

[2013-03-05 07:27] gkossakowski opened #16 "Add binary compatibility guide"
Provide a guide that covers:
- history of binary compatibility in Scala so we can show that our policy evolves in the right direction
- define binary compatibility (there different concerns like serialization, linkage errors, etc.)
- present tradeoffs we face when it comes to binary compatibility
- describe current policy in 2.10.x series
- mention tools we use (mima) which is related to hackers g

[2013-04-09 15:25] heathermiller opened #17 "Download page should be single, simple page"
Simplify it- like the Clojure download page: http://clojure.org/downloads

[2013-04-09 15:25] heathermiller opened #18 "Download page should automatically detect your OS"
And then suggest the right download for you

[2013-04-11 11:57] heathermiller opened #19 "Make layout responsive again"
It used to be, but something changed at some point in the stylesheets to prevent the page from scaling.

[2013-04-11 12:20] heathermiller opened #20 "Simplify the layout of the downloads page"
The layout is in the attached image.

This needs feedback from Adriaan and Josh and Jason.

[2013-04-11 12:22] heathermiller opened #21 "The front page needs a download button too"
The **front page** (not just the download page) needs a download button that will be based on the operating system of the user.

[2013-04-11 12:41] heathermiller opened #22 "In the top menu bar, "Learn" should be renamed to "Documentation""
Discussed with Vojin

[2013-04-11 12:47] heathermiller opened #23 "Learn/Documentation page should be simplified, with big tiles"
We can keep the information that we've written, it should just be reorganized so there's not too much text on one page

Proposed page with tiles:
![documentation-layout](https://f.cloud.github.com/assets/687163/367370/f82dc3a8-a2a5-11e2-9096-20b0d392368a.jpg)

[2013-04-11 12:54] heathermiller opened #24 "Optimize background image size for mobile devices. Scale it down."
From @vjovanov:  I think we should also optimize the image size for mobile devices. The background image has 1680.2K, which is IMO too much for a mobile network. To avoid this we can use different CSS for mobile devices pointing to a smaller/low-quality.

[2013-04-11 12:55] heathermiller opened #25 "Yslow tuning"
Tune the website for performance.

Meta tags should enable caching!

[2013-04-11 12:58] heathermiller opened #26 "Remove list of blogs from Community page"
Blogs promote individuals and their ideas, they're not so much of a community effort. We think that the community page should contain only resources for the community; e.g., mailing lists, events, QA websites like SO, etc.

[2013-04-11 12:59] heathermiller opened #27 "Add ycombinator news to Community page?"

[2013-04-11 13:01] heathermiller opened #28 "Contribution section, bring all the pieces together"
Eugene's guide + whatever Greg has written/intends to write.

[2013-04-11 13:02] heathermiller opened #29 "Add SIP process to "Contribute" section of scala-lang"

[2013-04-11 13:04] heathermiller opened #30 "Index for blog articles and news/annoucements"

[2013-04-11 21:25] phaller opened #31 "Pattern matching code example: Tree must be covariant in its type parameter"
Otherwise,

[code]

wouldn't work.

[2013-04-15 08:46] heathermiller opened #32 "Remove dropdown for Download"

[2013-04-15 09:19] #27 closed, assigned to nobody

[2013-04-15 11:08] #32 closed, assigned to vjovanov

[2013-04-15 11:25] #22 closed, assigned to manojo

[2013-04-15 11:28] #11 closed, assigned to namin

[2013-04-19 07:38] #26 closed, assigned to vjovanov

[2013-04-19 09:26] #18 closed, assigned to vjovanov

[2013-04-19 09:26] #21 closed, assigned to vjovanov

[2013-04-19 09:27] #9 closed, assigned to vjovanov

[2013-04-19 09:28] vjovanov opened #34 "main.js needs to be broken up for individual pages."

[2013-04-19 09:29] vjovanov opened #35 "There should be no javascript errors in the console."

[2013-04-19 09:35] heathermiller opened #36 "Improve examples (code & text) of the 6 bullet points on the frontpage"
We need to integrate them somehow- maybe make a page with the 9 examples w/ explanations and then have each box link to an anchor on each. Asked for by Martin.

[2013-04-19 10:54] #34 closed, assigned to nobody

[2013-04-19 10:55] vjovanov opened #37 "HTTP "Entity Tags" need to be configured on the Apache Server"

[2013-04-19 10:55] vjovanov opened #38 "The HTTP content should be zipped in Apache"

[2013-04-19 10:58] vjovanov opened #39 "There should be no 404 errors in the links."
We have a couple of missing javascript requests now.

[2013-04-19 11:31] #37 closed, assigned to nobody

[2013-04-19 11:39] vjovanov opened #40 "Partest needs to be removed as well as scala-fame"

[2013-04-19 11:39] vjovanov opened #41 "The bug reporting guide needs to be written"

[2013-04-19 11:42] #25 closed, assigned to vjovanov

[2013-04-19 12:26] #39 closed, assigned to vjovanov

[2013-04-19 12:26] #35 closed, assigned to vjovanov

[2013-04-19 14:38] #40 closed, assigned to vjovanov

[2013-04-19 14:39] vjovanov opened #42 "Styling the hall of fame"
We need to pull the authors from the url: https://github.com/scala/scala/graphs/contributors-data

With the data we can make an interesting and motivating list. For example people can get badges, comments next to their names and something along these lines.

[2013-04-19 16:15] #41 closed, assigned to vjovanov

[2013-04-19 16:26] #13 closed, assigned to namin

[2013-04-19 16:50] vjovanov opened #43 "Contributing to documentation is missing."

[2013-04-22 08:19] heathermiller opened #44 "Carousel now broken on frontpage"

[2013-04-22 16:18] #44 closed, assigned to vjovanov

[2013-04-23 09:41] #43 closed, assigned to manojo

[2013-04-23 09:41] #29 closed, assigned to manojo

[2013-04-23 10:39] #4 closed, assigned to lrytz

[2013-04-25 11:10] namin opened #45 "Add contributor's agreement to website"

[2013-04-25 12:02] #45 closed, assigned to namin

[2013-04-28 12:43] #24 closed, assigned to heathermiller

[2013-04-28 12:43] #19 closed, assigned to heathermiller

[2013-04-28 12:45] #15 closed, assigned to heathermiller

[2013-05-01 10:40] heathermiller opened #46 "We can't forget to remove the no-index robots meta info before going live"

[2013-05-02 11:38] #8 closed, assigned to vjovanov

[2013-05-02 16:00] retronym opened #47 "Link to Typesafe?"
Would be nice to have a "Commercial support" link or "Part of the Typesafe Platform" mentioned somewhere. Maybe @odersky could suggest the appropriate wording / prominence.

Loving the new front page, BTW!

[2013-05-02 21:16] #47 closed, assigned to nobody

[2013-05-06 12:36] heathermiller opened #48 "Need to produce RSS feeds for frontpage updates"
@sjrd would you be up to have a look at this? I think it's pretty easy, for example:
https://gist.github.com/stammy/795024
http://www.daveperrett.com/articles/2010/09/14/integrating-jekyll-with-feedburner/
http://www.functionn.in/2012/06/jekyll-github-blog-feeds-template-rss.html#.UYejWishozI

I suppose the only tricky bit would be figuring out how to organize it.

Personally, I'd think that just

[2013-05-14 12:12] #48 closed, assigned to sjrd

[2013-06-05 14:21] #38 closed, assigned to cvogt

[2013-06-05 14:22] cvogt opened #49 "move over to new server"
we can go live with the current server but at some point should move over to the new server Fabien bought.

In this process we should try to enable caching and compression, see https://github.com/scala/scala-lang/issues/38

[2013-06-05 14:29] cvogt opened #50 "go live"
@heathermiller tell me when everything is ready. Takes at least a day until it is through and it will require changes by epfl support.

[2013-06-10 17:00] sjrd opened #52 "JS Type error in moveScrooler()"
There is a JS Type error in function `moveScroller()` in main.js:162:

[code]

Triggered at least on the front page because `$(".sidebar")` does not exist.

[2013-07-12 10:15] #52 closed, assigned to nobody

[2013-07-12 10:16] #7 closed, assigned to heathermiller

[2013-07-12 10:19] #31 closed, assigned to vjovanov

[2013-07-12 10:48] #1 closed, assigned to vjovanov

[2013-07-12 11:04] #2 closed, assigned to vjovanov

[2013-07-12 11:05] heathermiller opened #53 "Fix maximum length of central news/blog/etc post on frontpage"
Right now it can overflow

[2013-07-12 11:20] heathermiller opened #54 "Add more Scala-related events to feed"

[2013-07-12 11:20] heathermiller opened #55 "Styling of events and training index pages"

[2013-07-12 11:21] heathermiller opened #56 "Fix Twitter feed (now broken on front page)"

[2013-07-12 11:24] heathermiller opened #57 "Continue to migrate any more recent content from scala-lang over to new site"

[2013-07-12 18:13] cvogt opened #58 "Code not indented"
The code samples in documentation/getting-started.html are not indented at all in FF and wrongly in Chrome.

[2013-07-15 09:47] #30 closed, assigned to heathermiller

[2013-07-15 10:11] sjrd opened #59 "Clean up the contributing guide"
There are things in the contributing guide that should not be there at all.
Obvious example: how to write a SIP.

[2013-07-15 16:16] heathermiller opened #62 ""Did you know you can edit this page" badge on most pages"
As usual, I can do the styling stuff, so I'll take this one :-)

[2013-07-16 08:09] heathermiller opened #63 "List of upcoming events doesn't exist"
Clicking: http://www2.scala-lang.org:8888/events goes nowhere

[2013-07-16 08:14] heathermiller opened #64 "Should add a commercial support page to the site"
It should highlight Typesafe as the main Scala supporter. There should be a link to this page in the footer, probably under the "Scala" subsection.

Point of debate– should it also give other consulting firms an opportunity to list themselves?

I'd vote yes on principle, we definitely want our ecosystem to grow, but independent consultants that would lapse (get another job, whatever) would cause t

[2013-07-16 14:08] cvogt opened #65 "more useful news items / GSOC page"
Scala RC's and Milestones seem to flood the news list on the home page pushing other news away. At the same time superseded RC's and Milestones are of very limited interest. Maybe the news items should include only the latest release announcement per Scala version. Possibly a simple text-based filter could implement that, if jekyll supports this.

http://www2.scala-lang.org:8888/news/2013/03/20/gs

[2013-07-16 14:18] cvogt opened #66 "design issues"
http://www2.scala-lang.org:8888/news/2013/04/11/student-talks-sw13.html
Heading too long / overlaps
##

http://www2.scala-lang.org:8888/news/2013/03/20/gsoc13.html
The ordered list numbers look odd.
##

release notes
http://www2.scala-lang.org:8888/news/2013/03/13/release-notes-v2.10.1.html
http://www2.scala-lang.org:8888/news/2013/02/28/release-notes-v2.9.3.html
etc.
- use \* instead of bullet po

[2013-07-17 13:57] #63 closed, assigned to sjrd

[2013-07-18 09:24] #59 closed, assigned to nobody

[2013-07-21 19:32] soc opened #67 "Page which spells out exactly which level of support people can expect from which platform"
It is mentioned a bit in the "Scala runs on the JVM [...]", but we should make it more clear, which versions (5 deprecated, 6 and up supported) are supported and which implementations are tested and verified that they work (OpenJDK/Hotspot ... anything else?).

Additionally, it would be nice to stop ignoring all the work people have done to get Scala running on Android and mention that too (and li

[2013-07-22 14:58] sjrd opened #68 "Documentation block in footer broken on "page" pages"
On pages that have the "page" layout (not the front page, not page-full-width), the Documentation block in the footer appears above the other blocks, on the right of the page. Instead of being the first block on the same line as the others.

Example page:
http://www3.scala-lang.org/download/

[2013-07-25 13:50] #49 closed, assigned to cvogt

[2013-07-26 00:06] #53 closed, assigned to heathermiller

[2013-07-26 13:01] #58 closed, assigned to nobody

[2013-07-26 13:03] #56 closed, assigned to nobody

[2013-07-27 08:49] #23 closed, assigned to heathermiller

[2013-07-29 15:44] #36 closed, assigned to nobody

[2013-07-29 17:41] sjrd opened #72 "Generic avatars in hall of fame too big on IE"
![issue-avatar-ie](https://f.cloud.github.com/assets/535934/873382/21ebc2a0-f876-11e2-841a-b7c878998cc9.png)

[2013-07-29 18:35] heathermiller opened #73 "Fonts stopped working, figure out why..."

[2013-07-29 19:20] heathermiller opened #74 "Code boxes broken in Firefox"
They've got a white bar on the bottom of them.

![](http://f.cl.ly/items/1B1B42102u1K0g0q0c44/Screen%20Shot%202013-07-29%20at%2012.19.53%20PM.png)

[2013-07-29 19:25] #54 closed, assigned to nobody

[2013-07-29 20:58] #72 closed, assigned to sjrd

[2013-07-29 21:35] #73 closed, assigned to heathermiller

[2013-07-30 09:42] #17 closed, assigned to heathermiller

[2013-07-30 09:49] #20 closed, assigned to heathermiller

[2013-07-30 11:40] #6 closed, assigned to sjrd

[2013-07-30 11:40] #57 closed, assigned to sjrd

[2013-07-30 12:02] #46 closed, assigned to sjrd

[2013-07-30 13:03] #50 closed, assigned to sjrd

[2013-07-30 14:20] Dinduks opened #76 "Cryptic pattern matching example"
Hi,

Imagine someone who has never done Scala or a similar language before, visiting the scala-lang site. Then he stumbles upon this:

[code]

Pattern matching can be explained more easily, with classes or lists for example.

That example could be changed to something similar to:

[code]

Taken from: http://matt.aimonetti.net/posts/2012/09/20/what-is-scala-pattern-matching/

[2013-07-30 14:20] heathermiller opened #77 "Fonts on the "see more events" page are all white"

[2013-07-30 14:27] Dinduks opened #78 ""CONCURRENCY/DISTRIBUTION" out of the box"
Main page, top right example.
The text is out of the box because lines don't break on `/`.
_CONCURRENCY/DISTRIBUTION_ can be replaced with _CONCURRENCY & DISTRIBUTION_.

[2013-07-30 14:29] Dinduks opened #79 "Some texts are too small"
Hi,

There are the concerned texts.
Some are even harder to read due to the lack of contrast.

![screen shot 2013-07-30 at 16 27 34](https://f.cloud.github.com/assets/504977/879237/66f28a74-f924-11e2-86c8-eb6d89e09170.png)
![screen shot 2013-07-30 at 16 27 37](https://f.cloud.github.com/assets/504977/879238/67038b62-f924-11e2-95ec-137b1dfdae52.png)
![screen shot 2013-07-30 at 16 27 44](https://f.c

[2013-07-30 15:15] gourlaysama opened #82 "Download button too small for some versions"
In the [download page for Scala 2.11.0-M3](http://www.scala-lang.org/download/2.11.0-M3.html), the name of the release does not fit inside the Download button.

![screenshot from 2013-07-30 17 10 29](https://f.cloud.github.com/assets/733438/879576/a2e9525a-f92a-11e2-8e9a-b3877e73f575.png)

(at least of Firefox)

Same for all versions that end with `-Mx`, `-RCx` or `.final`.

[2013-07-30 15:19] #77 closed, assigned to nobody

[2013-07-30 15:37] #74 closed, assigned to nobody

[2013-07-30 16:54] heathermiller opened #84 "Development release link in footer broken"

[2013-07-30 16:57] #84 closed, assigned to nobody

[2013-07-30 17:07] heathermiller opened #85 "Spacing/organization is unintelligible in higher order function example"

[2013-07-30 18:27] heathermiller opened #89 "Add a previous releases link for documentation"
It seems that the consensus might be to have it under scala-lang.org/documentation, without having a link right out front on the front page with the other documentation buttons.

[2013-07-30 18:39] #82 closed, assigned to nobody

[2013-07-30 19:07] #85 closed, assigned to nobody

[2013-07-30 19:27] mpartel opened #91 "Middle-clicking broken in some places"
Middle-clicking items under "upcoming events" and "upcoming training" does nothing.

Middle-clicking `@usernames`, `#bugnumbers` and some ordinary-looking links under "What's new" opens them in the current tab.

[2013-07-30 22:27] #78 closed, assigned to nobody

[2013-07-31 14:48] dragos opened #96 "No download link for nightlies"
It would be good to have the old link to Scala nightly distributions. Very useful when checking if a bug is still in 'master', without building a Scala distribution.

[2013-07-31 16:27] #96 closed, assigned to sjrd

[2013-07-31 17:15] #76 closed, assigned to nobody

[2013-07-31 22:20] heathermiller opened #99 "Lost the link to the nightly compiler docs, put it back!"

[2013-07-31 22:37] heathermiller opened #100 "Twitter feed shouldn't show scala_lang icon and "RT...", Should have RTer icon etc, like before"

[2013-08-01 07:50] mariussoutier opened #103 "API doesn't work on iPad"
Hi there,

I'd like to use my iPad as an easy way to refer to the API doc while coding. However on the iPad it's not possible to scroll down the content area (the right pane). The left pane also scrolls too much to the left.

Thanks

[2013-08-01 10:57] phaller opened #104 "Display issues with homing beacon on IE 9"
Just relaying the report. Can't verify myself at the moment, since I don't have access to IE.

[2013-08-01 10:57] pascohen opened #105 "Scala Compiler plugin page marked as no longer maintained"
As discussed in this post: https://groups.google.com/forum/#!topic/scala-user/VGwb7FPx-1M
Do you think the Scala Compiler plugin page should be marked as not maintained anymore ?
Thanks and Regards

[2013-08-01 10:58] pascohen opened #106 "Compiler API not accessible anymore from web site"
As discussed in this post: https://groups.google.com/forum/#!topic/scala-user/VGwb7FPx-1M
I cannot access the Compiler API web pages anymore.
Is it normal ?
Thanks and Regards

[2013-08-01 18:46] #103 closed, assigned to nobody

[2013-08-02 13:45] behrangsa opened #108 "Some docu links lead to 403"
For example this link: http://www.scala-lang.org/docu/files/ScalaTutorial.pdf

[2013-08-02 14:21] #108 closed, assigned to nobody

[2013-08-08 13:32] heathermiller opened #110 "Lost the ScalaDays 2010-2012 subdomains in the move"

[2013-08-27 17:09] adriaanm opened #111 "New website has some links to files that get a 403 Forbidden message"
[Originally submitted as scala/scala#2786]

the Older Documentation section at http://www.scala-lang.org/documentation/ has some 403 links:
e.g.
http://www.scala-lang.org/docu/files/ScalaTutorial.pdf

which gets this message:

Other docs that gets this message are:

http://www.scala-lang.org/docu/files/ScalaByExample.pdf

[2013-09-01 19:18] gourlaysama opened #113 "Missing .deb and .rpm downloads"
The download pages are missing the `.deb` and `.rpm` artifacts.

For example [Scala 2.10.2](http://scala-lang.org/download/2.10.2.html) has both, in the usual archive directory:
- [scala-2.10.2.deb](http://scala-lang.org/files/archive/scala-2.10.2.deb)
- [scala-2.10.2.rpm](http://scala-lang.org/files/archive/scala-2.10.2.rpm)

But they are not listed.

If this is intentional? If not I'll submit a

[2013-09-02 07:37] #113 closed, assigned to nobody

[2013-09-15 13:42] #89 closed, assigned to nobody

[2013-09-15 13:44] #99 closed, assigned to nobody

[2013-09-15 13:45] #106 closed, assigned to nobody

[2013-09-17 07:59] #111 closed, assigned to nobody

[2013-09-18 13:27] heathermiller opened #119 "Improve formatting for release notes pages"
![](https://f.cloud.github.com/assets/65551/1165001/09de78ea-2064-11e3-9ffa-11a44728a188.png)
![](https://f.cloud.github.com/assets/65551/1164994/e62d90a2-2063-11e3-9477-ab4cc26f6456.png)
![](https://f.cloud.github.com/assets/65551/1164996/ee3b2c3c-2063-11e3-913a-94f6c6884536.png)

Discussed in #117

[2013-10-11 15:16] #110 closed, assigned to nobody

[2013-10-14 14:06] gourlaysama opened #130 ""scala-lang.org/api/current/" still points at Scala 2.10.2 API Docs"
It's all in the title.

The symlink `/files/archive/api/current` should go to `2.10.3` instead of `2.10.2`.

[2013-10-14 14:09] hubertp opened #131 "CPU usage issues with the main page"
I noticed that when I have the main scala-lang page open, my CPU goes really up. Then I checked with chrome's task manager and indeed it fluctuates very regularly between 12 and 50 percentage. Homing beacon at fault maybe?

[2013-10-28 23:41] #130 closed, assigned to nobody

[2013-10-31 00:53] ananelson opened #132 "Broken link to "Getting Started guide" on http://www.scala-lang.org/download/"
Link goes to:
http://www.scala-lang.org/download/undefined

[2013-11-04 03:27] #132 closed, assigned to nobody

[2013-11-29 04:19] cvogt opened #136 "Old site pdf links broken"
Example: http://www.scala-lang.org/old/sid/4.html#
Removing `.html` from the referenced URL fixes it.

@fsalvi, would you mind taking a look at this?

[2013-11-29 09:22] #136 closed, assigned to fsalvi

[2014-04-22 06:19] xuwei-k opened #197 "news archive page does not updated"
![2014-04-22 15 16 30](https://cloud.githubusercontent.com/assets/389787/2761923/ebaa639e-c9e5-11e3-9208-0691cbedd7a8.png)
![2014-04-22 15 16 42](https://cloud.githubusercontent.com/assets/389787/2761924/ebb0c9c8-c9e5-11e3-871e-c341fd0bc750.png)

http://scala-lang.org/news/
https://github.com/scala/scala-lang/tree/master/news/_posts

[2014-04-24 16:39] adriaanm opened #198 "link to older api docs / archive"
We do keep the docs around, with URL schema www.scala-lang.org/api/$VERSION,
but I couldn't find a link to older versions.

[code]

[2014-04-24 18:58] #198 closed, assigned to nobody

[2014-05-01 12:07] g-eorge opened #201 "API Doc filters don't display in Chrome"
Tested on OS X, Chrome 34

![screen shot 2014-05-01 at 13 04 46](https://cloud.githubusercontent.com/assets/440006/2851981/04272778-d129-11e3-9ebd-348083765552.png)

[2014-05-09 20:40] mcandre opened #204 "Docs reference old shebang style"
The Scala docs describe an old style of shebangs, using multiple lines:

http://www.scala-lang.org/documentation/getting-started.html

    #!/bin/sh
    exec scala "$0" "$@"
    !#

The new style, working in 2.10, works like simple shebangs in other languages:

    #!/usr/bin/env scala

Could we please update the documentation to reflect this?

[2014-06-19 20:02] sjrd opened #209 "Community tickets page broken"
http://scala-lang.org/contribute/community-tickets.html

Probably mine to fix.

[2014-07-01 06:00] mrinalbagaria opened #217 "Please accept new pull requests for new trainings"

[2014-07-01 06:06] #217 closed, assigned to nobody

[2014-07-01 06:57] mrinalbagaria opened #222 "Please accept new pull requests for new trainings so that we can market them"

[2014-07-01 23:40] #222 closed, assigned to nobody

[2014-08-31 18:03] adam-singer opened #237 "Any type does not show up in 2.11.x documentation."
Not exactly sure where this gets filed or if its considered a bug.. but Any type does not show up in the documentation. It looks like moving stuff to `library-aux` also do not show up.

[2014-09-29 11:49] #209 closed, assigned to sjrd

[2014-11-17 17:11] #237 closed, assigned to nobody

[2015-01-30 09:25] heathermiller opened #260 "Training feed broken"
Events appear in the feed, but when you click on one, you are brought to the URL: http://scala-lang.org/test which returns "Not found."

[2015-01-30 09:32] sjrd commented on #260
Seems like that's we get from the Typesafe feed: http://scala-lang.org/resources/php/typesafe-feed-trainings.php
All `url` fields have `"test"` as value.

[2015-01-30 09:36] sjrd commented on #260
It's like that at the source feed as well: http://www.typesafe.com/subscription/training.json
There's nothing we can do here. Typesafe must fix their JSON feed. Who's in charge of that thing, these days?

[2015-01-30 09:39] heathermiller commented on #260
Thanks Séb. No idea – @rasummer do you know who's in charge of the JSON feeds being published by Typesafe? It seems visitors can't make it from scala-lang.org to typesafe.com's training pages.

[2015-01-30 17:16] rasummer commented on #260
@heathermiller @sjrd I'll take a look and find out who maintains these.

[2015-02-10 05:59] adriaanm commented on #197
+1 https://www.dropbox.com/s/k8b2ldfouroqo6z/Screenshot%202015-02-09%2021.59.09.png?dl=0

[2015-02-15 15:53] heathermiller opened #274 "Contributor hall of fame is always outdated"
It makes us look bad to have something static sitting there always outdated.

@sjrd – what about setting up a monthly cron job that either commits and pushes or makes a PR to scala-lang?

I think we should find a way to keep it updated or remove it all together. It's otherwise acting as cruft.

[2015-02-15 15:58] heathermiller commented on #260
Update on this. @rasummer fixed the URL in the typesafe feeds. However, something seems to still be broken on our end – all training URLs come back as "http://scala-lang.org/undefined". @sjrd could you take a look at this?

[2015-02-15 18:25] sjrd commented on #274
I thought @fsalvi had set up that cron job?

[2015-02-15 18:26] sjrd commented on #274
But otherwise, I think we should just remove it.

[2015-02-16 08:50] fsalvi commented on #274
I will fix it !

[2015-03-25 02:52] kentcdodds commented on #209
That's where I'm at right now @gourlaysama... Any solution to this?

[2015-04-01 02:21] niceliubing commented on #209
Hope this can help: https://answers.atlassian.com/questions/69356/cross-origin-resource-sharing-with-jira-rest-api-and-javascript

[2015-04-13 15:36] kno10 opened #295 "Build process acceptable to Ubuntu, Debian & Co"
The current build/installation process of Scala appears to be **unacceptable to major Linux distributions** such as Debian and Ubuntu. These continue to ship Scala 2.9.2.

Current scala "debian packages" provided on the scala-lang web site:
1. include unnecessary binary code (native code hidden in jline-2.12.1.jar) which only supports i386 and amd64 architectures. Instead, the package should depen

[2015-04-13 17:47] gourlaysama commented on #295
I agree with your point that the scala packages need some love, but I think you are conflating two different kind of packaging here: the packaging done by distributions and the one done by upstream. Usually:
 - Upstream ships some kind of big package that contains everything, basically like a .zip but as a .deb or .rpm. See for example the official .rpm for the JDK provided by Oracle: one big bina

[2015-04-13 19:10] gourlaysama commented on #274
Ping @fsalvi: it is still outdated (stuck in January) :-)

[2015-04-14 08:26] kno10 commented on #295
Well, usually upstream provides a build script that allows easy building on various platforms. JDK probably is an exception, indeed...
The usual approach is e.g. a ./configure script; generated via automake so it usually even works on ancient platforms like AIX none of the upstream authors ever touched...

For some distributions it may be well acceptable to do an online only build using external d

[2015-04-14 09:09] fsalvi commented on #274
I thought it has been removed:
https://github.com/scala/scala-lang/pull/276

Isn't it ?

[2015-04-14 09:28] gourlaysama commented on #274
It is still online at http://scala-lang.org/contribute/scala-fame.html, and still linked from [the contributing guide][1].

It seems like it was removed because it isn't updated, and isn't updated because it was going to be removed... /cc @dickwall

[1]: http://scala-lang.org/contribute/guide.html#why_contribute_a_patch_to_scala

[2015-04-14 09:45] fsalvi commented on #274
Ok ;-) It's fixed now.

[2015-04-14 09:45] #274 closed

[2015-04-14 12:05] gourlaysama commented on #274
Awesome, thanks!

[2015-04-14 12:11] jsuereth commented on #295
1. @kno10 UNfrotunately, given our history using ./configure + make just isn't an option.  e.g. why is that "make" binary is acceptable to assume but sbt is not?   It's the same kind of dogfooding/bootstrapping issue.

Right now scala requires some tools to build.  These tools are not "approved" but a lot of linux distros, or require contortions to use.  e.g. we did have a PR for a make-build for

[2015-04-14 13:32] kno10 commented on #295
(1). The bootstrapping problem seems to be very real - that is why there are no more up-to-date packages available...

Yes, the problem exists in Linux distributions in other cases. For example, C compilers are usually written in C, too; so they need to be bootstrapped. But there is a reason why people try to keep this minimal; at the cost of having not all the latest features available in their c

[2015-04-18 09:11] #260 closed

[2015-04-29 14:17] esdrasgit opened #297 "Variadic Template (Generic Varargs) in Scala?"
do You intend to implement the Variadic Template in Scala?
in this way, you eliminate 22 Tuple classes (Tuple2, Tuple3, ..., Tuple22) and other classes that has same problem like Function classes (Function0, ...)
I think it's a little ugly to see

[2015-04-29 14:25] sjrd commented on #297
Hi,

For discussions about the design of the language (among other things), the appropriate channel is [the scala-debate mailing list](https://groups.google.com/forum/#!forum/scala-debate). I recommend you ask your question there.

[2015-04-29 14:25] #297 closed

[2015-05-04 08:39] fsalvi commented on #274
I got an error when trying to update it.
Any idea ?
Error:
Server returned HTTP response code: 400 for URL: https://github.com/scala/scala/graphs/contributors-data

[2015-05-05 21:57] dwijnand opened #300 "The Markdown cheatsheet in the README is gone"
See https://github.com/scala/scala-lang#markdown, the cheatsheet image is broken.

[2015-05-06 09:38] heathermiller commented on #300
Fixed in f6d7c9423aaf9498fcbf12208d9d9f1da6f78aca

[2015-05-06 09:38] #300 closed

[2015-05-07 09:33] fsalvi commented on #274
I wrote to github support, here is their answer:

--------------
Hello Fabien,

Thanks for reaching out. The endpoints you are using are not official APIs (they're not documented on https://developer.github.com/v3/) -- they are used to power features of GitHub.com and you should not be relying on them working in a specific way or being there at all. They might be changed without notice or complete

[2015-06-16 17:41] SethTisue commented on #295
this is a valuable discussion, but the scala-lang repo isn't the right place for the issue, so I'm closing it. (scala-lang is the repo for the scala-lang.org website itself)

the ticket on this in JIRA is https://issues.scala-lang.org/browse/SI-9299. I've added a link from there to this discussion, for future reference.

[2015-06-16 17:41] #295 closed

[2015-09-02 06:21] mmrath opened #325 "Link Community wiki not opening"
Community link in scala-lang.org is not opening.

Looks like the source is:
https://github.com/scala/scala-lang/blob/master/community/index.md

Can someone please fix it?

[2015-09-02 07:43] sjrd commented on #325
Works well enough for me: https://wiki.scala-lang.org/display/SW/Welcome+to+the+Scala+Wiki!
Were you experiencing a transient error?

[2015-09-04 15:50] SethTisue commented on #325
link to wiki was removed in #323, since wiki is moribund

[2015-09-04 15:50] #325 closed

[2015-09-11 15:38] SethTisue commented on #201
if this is still an issue, could you report it at https://issues.scala-lang.org? sorry, it was natural for you to suppose this would be the right place. but although the API docs are hosted on scala-lang.org, they're generated by the Scaladoc tool, which is part of Scala itself, so we track issues with it in the main Scala bug tracker.

[2015-09-11 15:38] #201 closed

[2015-09-25 01:21] SethTisue opened #331 "Broken “community tickets” links on community page"
several of the links have rotted because of changes made in JIRA

reported by “Performant Data LLC” at https://groups.google.com/d/msg/scala-internals/NeNXeQtQQyU/1SLiRsvMAgAJ

[2015-10-08 13:38] dickwall commented on #331
Fixed the filters by removing the invalid labels. Queries no longer fail. Leaving this open though as I need to do a bigger sweep through and tune the specialized queries to contain the correct components.

[2015-11-04 22:32] SethTisue opened #349 "aiggh, nulls on our homepage!"
reported by @misto at https://twitter.com/m_st/status/661516299126890496

![aigh!](https://pbs.twimg.com/media/CS4tkYPWEAA-WbV.png:large)

[2015-11-04 23:39] SethTisue opened #350 "remove /old/ pages from search engines"
e.g. Googling "Scala FAQ" takes you to http://www.scala-lang.org/old/faq which (as @soc recently pointed out at https://groups.google.com/d/msg/scala-internals/nkh7_L4EpHA/9z1DM5QQBQAJ) is embarrassingly outdated.

I think it's fine to leave the old pages up so that links to them don't just go dead, but we really don't want this stuff turning up when newbies google us.

[2015-11-04 23:44] DarkDimius commented on #350
There are a lot of knowledge hidden discussions in `old` part of forums that would be great to find through google. Such as http://www.scala-lang.org/old/node/9126.html
Could we mark everything _but old forums_ as non-indexed by search engines?

[2015-11-05 09:03] fsalvi commented on #350
Forums are just the archives of google groups mailing list.
Eg, for Inlining Problem:
https://groups.google.com/forum/#!msg/scala-internals/a6Py8kpeiQY/VPDKvJV8SEEJ

[2015-11-05 15:09] fsalvi commented on #350
I thought it would be interesting to know which are the old pages often requested on the scala website.

Here is the list (based on our webserver statistics):

* Code Examples
http://www.scala-lang.org/node/219.html

* How can I catch exceptions?
http://www.scala-lang.org/node/255.html

* Scala Actors: A Short Tutorial
http://www.scala-lang.org/node/242

* Maven For Beginners
http://www.scala-lang

[2015-11-06 01:44] soc commented on #350
Thanks, good to know!

[2015-11-09 17:10] SethTisue commented on #349
@fsalvi is this something you could tackle? it looks like this line in `resources/js/main.js`:

    '<div class="training-trainers-name"> By '+training.trainers+'</div>' +

needs a null check

[2015-11-09 18:29] SethTisue commented on #197
only the items with a `post-type` of `news` are appearing; the missing ones all have `post-type` of `announcement`

I don't understand the intent behind the distinction. perhaps @heathermiller can clarify?

[2015-11-09 18:30] SethTisue commented on #197
in `news/index.md`, is there any reason not to change `{% if p.post-type == 'news' %}` to allow the `announcement` case also?

[2015-11-10 17:14] fsalvi commented on #349
I guess the problem is on the typesafe webpage, we are using this json file:
http://www.typesafe.com/subscription/training.json

eg:
{"where":"Virtual only","when":"Nov 18 2015","trainers":null,"organizer":"BoldRadius","status":"live","url":"http://boldradius.com/detail/VWc7ty4AAC0AsXjS/advanced-akka-with-scala"}]}

[2015-11-11 21:56] #349 closed

[2015-11-12 08:46] heathermiller commented on #197
Announcements are noisy. If there are M news posts and K announcements, typically M << K. So a news page would be essentially a change log peppered with a news announcement every 6 months. That was the intention.

Instead it'd likely be more intelligent to have an index of announcements and an index of blog + news articles. That makes more sense than the current set up, I think.

[2015-11-12 17:47] SethTisue commented on #197
I understand better now... I'll think on this.

FYI @dickwall (iirc you were puzzled by this as well)

[2015-11-13 10:19] heathermiller commented on #197
Why don't we just put items with `post-type` `news` and `blog` and rename it "archive" rather than "news archive"? Then the list of items shown is a bit more sensible.

We can also change `announcement` post-types to `release-announcement` perhaps and have an "Release Announcement Archive" as another index of pages.

[2015-11-16 20:06] hamishdickson opened #356 "README has out of date instructions for OSX"
The README says users should run the command

[code]

OSX has gone rootless in El Capitan, so instead this should actually be (for OSX anyway)

[code]

see http://stackoverflow.com/questions/31567029/how-can-i-install-jekyll-on-osx-10-11 for more details

I believe the part about updating ruby gems is still correct however

[2015-11-20 02:43] SethTisue opened #357 "ongoing: stuff that scala_lang should tweet"
@soc asked for a place people could suggest things for https://twitter.com/scala_lang to tweet or retweet. the tweets show up on the front page of scala-lang.org too, so putting the ticket for that here.

the most active hands in the Twitter puppet lately have been mine and @heathermiller's — probably some other people have access, not really sure.

we haven't actually established any guidelines f

[2015-11-20 02:44] soc commented on #357
Maybe we can just create a Google Docs document, so that people can add (and schedule tweets) for specific days?

[2015-11-20 07:46] heathermiller commented on #357
I don't think a github issue for the website is an appropriate place to post suggestions on how to use the Twitter account. These are separate things. Likely a google doc or an email thread is a better place for this.

[2015-11-20 07:47] heathermiller commented on #357
@soc why don't you create a Google doc and share it on the scala-internals mailing list for other people to add to?

[2015-11-20 07:47] #357 closed

[2015-11-20 14:35] SethTisue commented on #357
sigh, it appears from my searches that Google documents have no mechanism for sending out email notifications when a document is updated, so we'd have to remember to go look at it? (but Google spreadsheets _do_ have that feature...)

[2015-11-20 14:51] DarkDimius commented on #357
@SethTisue, if you configure access so that people do not edit google doc directly, but suggest changes instead, you _will_ get notifications.

[2015-11-24 15:24] SethTisue commented on #356
I've attempted to address this in https://github.com/scala/scala-lang/pull/361 by recommending that gems not be installed globally, but that Bundler be used instead.

[2015-11-24 16:08] hamishdickson commented on #356
@SethTisue that sounds sensible, let me know if you need me to do anything

[2015-11-24 17:10] soc commented on #356
"rootless" sounds a lot like "cloud". :-)

[2015-12-10 02:16] SethTisue commented on #197
I would like to do something about this, but I can't really do surgery on the site if I can't preview stuff locally, so it's blocked by #361

[2015-12-10 07:24] heathermiller commented on #197
I don't understand what your problem is. This complaint isn't descriptive enough. I use Jekyll versions 1-3 across computers to build locally without issue. What does "i can't preview locally" mean? What kind of errors are you getting that's preventing you from using Jekyll locally?

[2015-12-10 15:55] SethTisue commented on #197
re: Jekyll, I've responded at #361

[2015-12-10 18:52] SethTisue commented on #197
The changes you propose [above](https://github.com/scala/scala-lang/issues/197#issuecomment-156388460) SGTM.

[2015-12-11 00:15] raboof commented on #350
I know the README is quite adamant that "Subdirectory scala-lang.org/old is a static copy of the old website. It was generated once and copied there, and it stays like that".

Still, it'd be real neat to put it up on github (even in its current 'raw' form), so we can at least create PR's to add some links to more recent material.

[2015-12-11 21:08] #197 closed

[2015-12-16 18:16] ebruchez opened #371 "Add the posting date to individual news posts"
The [archive link](http://scala-lang.org/news/) contains dates, but individual posts don't.

I had noticed this in the past already to my great frustration, but I use [Google Alert](https://www.google.com/alerts) to keep track of certain things and today I just got an alert or [Scala: Next Steps](http://www.scala-lang.org/news/roadmap-next/). Not great from Google's part, I know, but landing on th

[2015-12-16 18:18] ebruchez opened #372 "Make layout responsive (again, again?)"
I see #19, but the layout is clearly not responsive now. The main Scala web site _must_ be readable on a smartphone.

[2015-12-16 18:55] SethTisue commented on #371
thanks for reporting. I've noticed this as well. I'm interested in fixing it as soon as we can get https://github.com/scala/scala-lang/pull/373 through.

[2015-12-16 19:03] SethTisue commented on #356
new attempt to address this: https://github.com/scala/scala-lang/pull/373

[2015-12-16 19:11] ebruchez commented on #371
Excellent. This is the kind of things that will show that there is some love behind the site. (I am not sure how this plays with @soc's work on this.)

[2015-12-17 11:06] heathermiller commented on #372
This complaint could be a bit more helpful. Currently you tell us what we  _must_ be doing, which is of course not very constructive. What browser are you using? What do you want to see?

At the time that I designed the Scala website, there were no responsive-first CSS frameworks and many aspects of the current layout wouldn't fit into any currently popular responsive CSS framework. The Scala webs

[2015-12-17 14:07] SethTisue commented on #372
@ebruchez I don't know very much about CSS or about responsive design, but... can you (or anyone else who happens to see this ticket) identify any modest changes we could make that would improve the situation?

[2015-12-17 15:07] #371 closed

[2015-12-17 17:28] ebruchez commented on #371
Perfect, I see the date in postings now.

[2015-12-17 17:33] ebruchez commented on #372
Sorry @heathermiller not a criticism of your work, I thought this was an obvious one. Take Chrome dev tools and set it e.g. for an iPhone 6S Plus. You see this:

![iphone6plus](https://cloud.githubusercontent.com/assets/105769/11876892/c9ad0250-a4a0-11e5-9e39-c6f67ca19342.png)

What I expect on a mobile phone is (at least for the news part but ideally for the whole site):

- single-column layout
-

[2015-12-17 20:13] SethTisue commented on #356
#373 was merged, see also #375. thanks for calling this to our attention.

[2015-12-17 20:13] #356 closed

[2015-12-18 14:16] heathermiller commented on #372
It would require pretty significantly changing the layouts of all pages. One would have to rebase all pages on newer "responsive-first" CSS frameworks. Many aspects of the front and inner pages would have to change because they can't be easily translated to a 12-col "responsive" grid format as in frameworks like Bootstrap. So the way we do the sidebars on inner pages, and the way we display blog e

[2015-12-23 12:39] ebruchez commented on #372
I think that a full modern layout would be best, and I agree that would be a relatively big contribution. It might be possible to graft something purely in CSS, as @SethTisue suggests. Hard to know for sure without trying. I suggest keeping this open as ultimately it will have to be addressed.

[2015-12-24 06:55] soc commented on #372
@ebruchez I have been working on this recently. The upgrades to the CSS framework certainly helped a bit, and in addition one gets quite far with CSS's media queries. It's not published yet, but the e.g. the frontpage looks a bit more usable:

Compare
http://i.imgur.com/WrBZgbK.png

with
http://i.imgur.com/oKdVPEi.png

[2015-12-25 11:56] ebruchez commented on #372
@soc Great! I realize that I check more and more stuff on mobile even though I spend most of my day in front of a 30" monitor and I suspect it might be the case of more and more people.

The other day I noticed that the home page is unusable on a phone: you can't even scroll to see the content that overflows.

[2016-03-22 17:40] heathermiller opened #422 "Add links to Scala Center website in footer?"
/Doh, I didn't even think to do this. Thanks @deathmoves for suggesting :)

[2016-04-24 12:50] janekdb opened #426 "Update list of template pages on README.md"
There's more than just `page.html`,

[code]

[2016-04-25 18:09] dk14 opened #427 "Add method declaration indentation to the Style Guide"
There is:

http://docs.scala-lang.org/style/declarations#methods (tells how to ident classes/traits/objects' declarations with a lot of parameters)

and:

http://docs.scala-lang.org/style/indentation.html (tells how to ident method call with a lot of parameters)

But none of it tells how to ident method declarations with multiple parameters...
Good example: https://github.com/paypal/scala-style-gu

[2016-04-25 18:20] lashchenko commented on #427
Another good example from [Databricks Scala Guide](https://github.com/databricks/scala-style-guide#spacing-and-indentation)
[code]
I prefer this version because indents do not depend on the length of a method name.

[2016-04-25 18:43] dk14 commented on #427
I agree that it shouldn't depend on the methods name length, but I'd prefer two spaces ident because it might be hard to read when both name of method and param are in one "column".

[2016-04-25 18:58] lashchenko commented on #427
For option with `2 spaces` parameters are not separated from method body.
Also this is not single case of the method definition because method can be defined as `override`, `private` or `protected`.

[2016-06-05 02:24] chaselal opened #437 "Scala hacker guide "Build" section is outdated"
The [Build section of the Scala Hacker Guide](http://scala-lang.org/contribute/hacker-guide.html#build) provides instructions for building the scala repository. The Build section says to build with ant:

and does not mention sbt at all. This appears to be outdated; the [Requirements section of the scala repository's README](https://github.com/scala/scala#requirements) says that the ant build is de

[2016-06-05 13:57] heathermiller commented on #437
Hi @chaselal. Thanks for noticing this! We'd love a PR to address this issue – updating the Hacker Guide with the new instructions would probably be best if you've got a minute?

cc/ @retronym @lrytz @adriaanm (Scala team @ Lightbend, please don't forget that the Scala website includes sections like these when you are changing process... Would be great if you could make a PR to the website alongsi

[2016-06-06 06:13] lrytz commented on #437
i think it would be better to link back to the README for information that is already there, instead of duplicating it.

[2016-06-06 07:26] heathermiller commented on #437
@lrytz I disagree. By that rationale, we should then move the Hacker Guide to the README or delete it – just to ensure that information isn't duplicated (I'm sure that the build instructions aren't the only piece of information that's duplicate).

[2016-06-06 08:08] lrytz commented on #437
I think the meat of the hacker guide is the detailed step-by-step process, which has a lot of value but would not fit into the readme. Note that there are already links to the readme and to the CONTRIBUTING.md in other parts of the guide.

That's just MO, if you prefer to keep it more self-contained that's also fine with me.

[2016-06-07 02:20] chaselal commented on #437
Submitted a PR to get the updates rolling. I have just recently started working with the Scala repository, so a thorough update of the guide is outside my abilities right now.

[2016-07-12 15:34] lrytz opened #445 "code sections hard to read for some readers (thin font, low contrast)"
https://twitter.com/mraleph/status/752888195398955008 for an example

[2016-07-12 15:35] lrytz commented on #445
here's a copy of the screenshot:

![cnllziuw8aadyby](https://cloud.githubusercontent.com/assets/119636/16773137/fc978e7e-4856-11e6-8c80-60dca6521a63.jpg)

[2016-07-23 08:20] soc commented on #445
@lrytz I was also annoyed by it. The issue is that there are 5 different fonts `Monaco,Menlo,Consolas,"Courier New",monospace` given in the CSS, which makes it hard to be sure that a fix really did it on all the various OSes and devices.
I replaced it with a single font, Roboto Mono (10.5px, weight 400) which fixed this issue for me. Maybe that helps!

[2016-07-28 11:55] retronym commented on #91
Heres the culprit:

[code]

[2016-08-02 21:19] SethTisue opened #448 "broken "Other resources" link on main download page"
from the top of scala-lang.org, the "Download" link leads to http://scala-lang.org/download/ . on the right of this page there is an "Other resources" link that leads nowhere.

as for why the link might exist at all, I'm guessing there's shared code that also generates pages such as http://scala-lang.org/download/2.11.8.html in which the link works because an "Other resources" section of the page

[2016-08-08 21:02] retronym commented on #91
Actually I think the problem is the way that google analytics is added

[2016-08-10 18:12] SethTisue opened #452 ""Upcoming events" section is neglected; new maintainer sought"
the “Upcoming Events” section of http://www.scala-lang.org is very anemic at the moment. e.g. Scala by the Bay which is a really major event is missing.

for most of the last year, I did most of the updating of this section myself. (before going on leave this summer, I should have alerted somebody that it would need attention; I apologize.)

is there either someone in the community, or someone at

[2016-08-10 20:22] soc commented on #452
Weird. I was just updating my fork today. Feel free to merge https://github.com/soc/scala-lang/commit/5ff8c8440b29ae5b777c72496e8ecd2ac2d7518c.

[2016-08-10 21:42] SethTisue commented on #452
Can you submit it as a PR, please?

[2016-08-10 22:31] SethTisue opened #453 "SI-9698 Remove ancient 2.11.0 nightly docs"
crufty docs dated 20140303 show up in Google search results, misleading innocent users

details at https://issues.scala-lang.org/browse/SI-9698. reported by @janekdb

[2016-08-11 00:30] soc commented on #452
@SethTisue I think this is better done by someone from scala-lang as I have made extensive changes to the stylesheet (e. g. larger width for event items), and the width of the various text fields is tuned to always end up on a single line.

[2016-08-11 00:51] SethTisue commented on #452
OK, well thanks for gathering the info, at least, that will help whoever puts together an eventual PR.

[2016-08-13 09:08] #91 closed

[2016-08-14 16:28] soc commented on #452
Looks like it didn't work out that way: https://github.com/scala/scala-lang/pull/454

[2016-08-15 13:05] janekdb commented on #453
More crufty docs from simple query : `scala mutable buffer`

http://www.scala-lang.org/api/2.8.1/scala/collection/mutable/ArrayBuffer.html

![scaladoc-2 8 1](https://cloud.githubusercontent.com/assets/1123855/17665206/5cfbfbba-62f1-11e6-9b5e-af11289f73b8.png)

[2016-08-15 13:07] DarkDimius commented on #453
If they are indeed indexed by search engines, instead of removing it would be nice to forward to new docs instead. This way docs would keep search ranking.

[2016-08-15 18:51] andy1138 commented on #452
Hi @SethTisue & @soc
Looks like happy coincidence  as it happened to be the cfp deadline for scala.exchange and I had realised that I hadn't done a pull request for scala-lang. And for scala2016 I was looking to buy a ticket so just added that.

I can do a pull request with @soc additions and any others I can find so that its currently upto date.

I'm, happy to help out on adding events, but think

[2016-08-16 20:56] SethTisue commented on #452
@dickwall you thought you might be interested in this; perhaps between you and @andy1138 you'd be likely to get everything...?

[2016-08-17 17:29] soc commented on #452
@andy1138 @dickwall Also check the commits in https://github.com/soc/scala-lang/tree/gh-pages/events/_posts so you avoid duplicating work, I usually add the ones I find on the net from time to time.

[2016-08-19 22:00] SethTisue opened #459 "broken link to Scala release schedule page"
at http://www.scala-lang.org/news/, under the Announcements & Changelog section, there is an entry for @adriaanm's post last December, "2016 Scala Release Schedule update". but the link to http://www.scala-lang.org/news/2016-schedule is broken.

reported by Jason Webb at https://twitter.com/BigJasonWebb/status/766169748904157185

when I generate the site locally via `bundle exec jekyll serve`, the

[2016-08-19 22:01] SethTisue commented on #459
in the meantime, if anyone wants to see the page contents, they're at https://github.com/scala/scala-lang/blob/master/news/_posts/2015-12-09-schedule-update.md

[2016-08-20 02:47] soc commented on #459
Maybe some Jeykll weirdness? Works for me: http://get-scala.org/news/2016-schedule

[2016-08-26 18:26] SethTisue commented on #452
thanks @andy1138! I pinged Dick about it one more time, by email this time.

[2016-08-26 18:26] #452 closed

[2016-08-27 22:05] pikeview opened #463 "Include sha256sums on the download page"
Hi,

The page http://www.scala-lang.org/download/ does not have the md5/sha256sum values for the download packages.

Please can these be added to the site so that I can check my downloads

Aside, for now, please could you confirm if this is correct

d7335d2448cfed038f0cd79ed946ce82883651b80e4b698031261df23d9cb662  scala-2.11.8.deb

thank you

[2016-08-29 18:46] matsluni commented on #459
I also could not reproduce it locally with jekyll. What worked for me though is: [http://scala-lang.org/news/2016-schedule**.html**](http://scala-lang.org/news/2016-schedule.html). So it seems to me that is related to front facing web server (e.g. nginx, apache, etc.)

After inspecting the response headers I found out that http://get-scala.org is served via Github (GH Pages?!) and http://scala-lan

[2016-08-30 16:38] fsalvi commented on #459
It's a problem with jekyll build, not with the web server. When specifying another permalink with a '.' inside the filename, it's ok.
We're using version 3.1.6
I'll do some tests with the latest version to see if it solves the problem...

[2016-08-30 16:45] fsalvi commented on #459
I did a quick fix.

[2016-08-30 16:45] #459 closed

[2016-08-30 18:34] SethTisue commented on #459
thanks Fabien!

[2016-09-14 18:21] SethTisue commented on #452
Flatmap.no announced for May 2-3 http://2017.flatmap.no

[2016-09-15 18:18] SethTisue commented on #452
https://twitter.com/scalawavepl/status/769187192665149440

[2016-09-16 09:31] andy1138 commented on #452
@SethTisue thanks, a PR is whizzing it way

[2016-09-19 19:03] SethTisue opened #473 "Erik Osheim receiving Phil Bagwell Award should be blog-posted"
as was done for Bill V last year at http://www.scala-lang.org/news/2015/06/25/bagwell-award-2015.html — that post could be used as a template

@propensive I imagine you're swamped right now, but let's not let this fall through the cracks, either

[2016-09-21 12:00] propensive commented on #473
@SethTisue Agreed. Incidentally, on the subject of falling-through-cracks, I only clicked on this by chance, having been ignoring all GitHub email notifications over the last few weeks...

[2016-09-21 18:04] SethTisue commented on #452
tweeted: https://twitter.com/scala_lang/status/778655938420940800 , thanks to everybody who's contributed

[2016-09-27 18:36] SethTisue opened #479 "2.12 spec should be available at http://www.scala-lang.org/files/archive/spec/2.12"
reported by Daniel Barclay at https://groups.google.com/d/msg/scala-user/kCjYrWV9KtI/tJFDrZxaEAAJ

* 2.11 URL: http://www.scala-lang.org/files/archive/spec/2.11/
* 2.12 URL: http://www.scala-lang.org/files/archive/spec/2.12/

[2016-09-27 20:38] adriaanm commented on #479
The issue is in the last line of https://github.com/scala/scala/blob/2.12.0/.travis.yml
Will likely need to create the 2.12 dir first

[2016-09-28 20:15] SethTisue commented on #473
ping — might you have time for it this week?

[2016-09-29 12:56] andy1138 opened #485 "Lightbend training events feed has some incorrect URLs"
This is not really a scala-lang error as its just displaying the information given to it by Lightbend so it's really that end that needs to be fixed.

Some of the training events coming from http://www.lightbend.com/subscription/training.json have incorrect URLs.

e.g
-  http://iframe.zuehlke.com/de -- no DNS  (2 events)
-  https://www.codecentric.de/... --- gives a 404

(This is as-of today as ev

[2016-09-29 14:09] SethTisue commented on #485
@rasummer @justinpihony not sure whose department this is?

[2016-09-29 21:57] SethTisue commented on #485
@andy1138 Stevens Pineda is working on it

[2016-09-29 22:22] SethTisue commented on #479
PR: https://github.com/scala/scala/pull/5437

[2016-09-29 22:35] SethTisue commented on #479
done. (ssh'ed to jenkins-worker-ubuntu-publish and from there to chara, then `mkdir`)

[2016-09-29 23:53] SethTisue commented on #479
followup PR: https://github.com/scala/scala/pull/5438

[2016-09-30 00:10] SethTisue commented on #479
dammit. so the second PR was good/needed, but also didn't fix the problem. now we've got a 2.12 spec, that identifies itself as such, at http://www.scala-lang.org/files/archive/spec/2.11/

I'll poke around https://scala-webapps.epfl.ch/jenkins/view/All/job/production_scala-lang.org-scala-dist-archive-sync/

[2016-09-30 00:30] SethTisue commented on #479
Adriaan's working on providing Travis with an additional private key where the ssh forced command has `2.12` instead of `2.11`

[2016-09-30 01:00] #479 closed

[2016-09-30 08:22] andy1138 commented on #485
Thanks for the update.

If Stevens is looking at it you may want to also want to check how upto date it is. I know there is at least the training sessions at Skillsmatters, London are missing

[2016-10-17 21:31] SethTisue commented on #473
@propensive ping

[2016-10-18 03:35] charafau opened #493 "Merge docs.scala-lang.org and scala-lang.org"
Result from discussion on gitter from 17.10.2016 is that both sites should be merged.
I also asked about PRs that they're getting accepted and that Simon has done quite a lot of work with this so I would like to `update` website partialy. Should docs site be upgraded all at once ?

I could start working on this one.

Thanks

[2016-10-18 04:41] SethTisue commented on #493
I don't think there is a consensus that the sites should be merged. There is some past history on this at https://github.com/scala/scala-lang/pull/359, where @heathermiller made some arguments in favor of keeping the sites separate.

Some of that discussion is about the **desirability** of merging the sites, and some of it is about purely _technical_ issues with merging.

On the subject of desirab

[2016-10-18 04:52] charafau commented on #493
I don't mind sites to be separated. Maybe docs.scala-lang.org should have the same look as scala-lang.org ?

I will take a look at docs site

[2016-10-18 05:40] SethTisue commented on #493
SGTM for sure, and @heathermiller sounded positive about it, too, on that other PR ("Let's make the doc-site look like scala-lang, that's established")

[2016-10-18 05:40] SethTisue commented on #493
P.S. if you have an interest in look-and-feel type stuff, maybe you could review https://github.com/scala/scala-lang/pull/467 ?

[2016-10-18 05:44] SethTisue commented on #493
oh, in what I wrote above about bringing the two sites closer in line with each other technically (since that could be relevant to bringing them closer in line in design, too), @lrytz took a stab at it https://github.com/scala/scala-lang/pull/443, that could be work somebody could pick up. and if there are changes needed on EPFL servers, that could perhaps be coordinated with @fsalvi, depending on

[2016-10-18 05:49] charafau commented on #493
Thank you for info about the issues. I will probably start with speeding up site generation.

[2016-10-18 11:05] soc commented on #493
@charafau The slowness issue mentioned by @SethTisue has been fixed 11 months ago, as mentioned in the original ticket.

[2016-10-18 15:01] SethTisue commented on #493
apologies for the misinformation!

[2016-10-18 17:02] SethTisue commented on #445
one fix attempt was https://github.com/scala/scala-lang/pull/467, but it lost syntax highlighting

[2016-10-18 20:32] SethTisue commented on #493
you mean fixed in your pull request which wasn't merged, or fixed in some pull request which _was_ merged...?

if you mean it was fixed in your pull request, could you help @charafau locate the fix in the 20,000 lines of diffs...?

currently on my MacBook Pro building the doc site takes 6+ minutes, while building scala-lang takes <1  minute. 6 minutes is a lot better than the 20+ minute number I w

[2016-10-20 14:46] SethTisue commented on #485
the bad URLs have now been fixed — thanks for the report! re: Skillsmatters, I've passed that along.

[2016-10-20 14:46] #485 closed

[2016-10-20 19:00] SethTisue commented on #485
(P.S. they're working on a new system for this stuff that hopefully will avoid long delays like this in the future)

[2016-10-21 10:46] dragos commented on #204
This was fixed at some point. closing.

[2016-10-21 10:46] #204 closed

[2016-10-21 20:20] SethTisue commented on #493
The issue with the other repo still taking so long to build now has a ticket: https://github.com/scala/scala.github.com/issues/607

[2016-10-21 20:23] jarrodwb commented on #493
Are people using incremental builds? It only takes seconds after the first build.

But yeah. Having it be faster would be nice.

[2016-10-22 01:35] Blaisorblade commented on #493
Just tried on master on this repo, but that didn't work here since this website is using Jekyll 1.5.1. Among other things #359 switched to Jekyll 3.0.1 and recommends using incremental builds.

I just checked out #443, but according to @fsalvi the webserver already has Jekyll 3.1 while Bundler calls for 1.5... which sounds confusing:
https://github.com/scala/scala-lang/pull/443#issuecomment-254430

[2016-10-22 10:59] jarrodwb commented on #463
That is what I got when I downloaded it just now.

The download files are hosted by Lightbend and I don't have access to their servers. If I did I would check there.

[2016-10-22 14:59] SethTisue opened #498 "bring Jekyll version in line with actual versions on server"
in [this comment](https://github.com/scala/scala-lang/pull/443#issuecomment-254430527) @fsalvi says that the server hosting scala-lang.org is running

[code]

but our Gemfile has

[code]

we should bring these versions in alignment with each other

the short term fix would be to update the Gemfile. (we might need to ask @fsalvi for versions on the other gems listed there.)

a longer term fix would

[2016-10-24 10:40] Blaisorblade commented on #498
Question I'm wondering about: wasn't there (in #443) discussion of dialect differences between Jekyll 1.5 and Jekyll 3, associated Kramdown versions, and GFM dialect variants? Is the current output consistent with the later Kramdown version?

[2016-10-24 20:20] SethTisue commented on #473
PR #503

[2016-10-24 20:20] #473 closed

[2016-10-25 18:35] andy1138 commented on #485
Thanks for the update.

Good to see it all working again :-)

On 20 October 2016 at 20:00, Seth Tisue <notifications@github.com> wrote:

--
Tanis Systems Limited is a company registered in England and Wales.
Registered number: 5464771. Registered office: 2 Avondale House, 264
Croydon Road, Caterham, CR3 6QJ, VAT 238866167

[2016-10-31 10:55] fsalvi commented on #498
Versions we have on the server right now:

*** LOCAL GEMS ***
afm (0.2.2)
Ascii85 (1.0.2)
bigdecimal (1.2.8)
blankslate (3.1.3)
bundler (1.13.6)
classifier-reborn (2.0.4)
coderay (1.1.1)
coffee-script (2.4.1)
coffee-script-source (1.9.1.1)
colorator (0.1)
did_you_mean (1.0.0)
execjs (2.6.0)
fast-stemmer (1.0.2)
ffi (1.9.10)
hashery (2.1.1)
io-console (0.4.5)
jekyll (3.1.6)
jekyll-coffeescript (1.0

[2016-11-02 18:37] charafau commented on #493
@Blaisorblade  main speed problem is with docs site, not scala-lang.org.

[2016-11-03 09:40] fsalvi commented on #498
The build is now fine with bundler.

[2016-11-03 09:40] #498 closed

[2016-11-03 21:29] adriaanm commented on #448
manually fixed for 2.12.0 with https://github.com/scala/scala-lang/commit/3f55787a6c51ed6f900c4a02f4c001e1c048d167

[2016-11-04 04:56] xring opened #508 "class="sidebar" div did not display smoothly"
Please refer to [this page](http://scala-lang.org/news/2.12.0), right part the `Content` sidebar did not display smoothly:

- part of the `Content` can not be displayed
- when scroll up or down this part will twinkling

[2016-11-04 07:14] charafau opened #509 "Scale up font contrast"
From [Hacker news discussion](https://news.ycombinator.com/item?id=12863579) someone mention font color readability.

I personally think that it's good idea. Screenshots for reference.

Now:

<img width="728" alt="screen shot 2016-11-04 at 16 12 22" src="https://cloud.githubusercontent.com/assets/1143994/19997422/c41357f6-a2a9-11e6-93dd-63d93e6e6ebd.png">

After change:

<img width="699" alt="scre

[2016-11-05 17:27] jarrodwb commented on #448
I think this may have been fixed. If not than maybe the description of the issue should be reworded.

[2016-11-05 17:49] soc commented on #508
Here is one (hacky) way to fix it: https://github.com/soc/scala-lang/commit/d33765aa804cd90713f602c0ae2a7b0ab799881d#diff-bd74385491a6158020bdeda363504589R88

[2016-11-07 22:08] SethTisue commented on #509
LGTM — would you like to make a PR?

[2016-11-07 22:47] SethTisue opened #512 "use same version of Jekyll as docs.scala-lang.org"
now that the production build is `bundler` based (thank you @fsalvi!!) we ought to move to Jekyll 3.3.0 to match the doc site, shouldn't we?

[2016-11-07 22:58] #448 closed

[2016-11-08 06:31] jarrodwb commented on #512
I think so. For that matter I think we should just use the same verbatim Gemfile.

https://github.com/scala/scala.github.com/blob/master/Gemfile

I have not tested it locally yet.

[2016-11-08 07:10] jarrodwb commented on #512
It looks like life is always a little bit more complicated than it should be.

https://github.com/github/pages-gem/issues/351

I suggest we use the simple workaround with `>=104`. This problem may also come up on the docs site in the future.

[2016-11-08 07:28] jarrodwb commented on #512
@SethTisue Do we still need these two gems? I see you added them to the Gemfile about a year ago. The site builds localy without error when they are removed. Maybe they are needed in production?

https://github.com/rtomayko/posix-spawn
https://github.com/brianmario/yajl-ruby

[2016-11-08 08:13] odd opened #515 "Existing links to the current version's ScalaDoc are broken in 2.12.0"
Existing links to ScalaDoc that target the current version of Scala (i.e. links such as http://www.scala-lang.org/api/current/index.html#scala.Int) now ends up at the ScalaDoc start page instead of the intended sub page (the sample link must instead now be written as http://www.scala-lang.org/api/current/scala/Int.html). This affects many existing links on StackOverflow.com and other sites with Sc

[2016-11-08 18:04] SethTisue commented on #445
fixed by #510

[2016-11-08 18:04] #445 closed

[2016-11-08 19:15] ashawley commented on #515
Indeed, the new Scaladoc interface is no longer a single-page app supporting both hash fragment links and links to file paths.

I don't believe there's a way in HTTP to handle the hash fragment in a URI.  It needs to handled on the client-side by Javascript.  And currently, the anchor links using the hash fragment only support references to the members of classes, and no longer the full namespace

[2016-11-08 21:12] SethTisue commented on #512
I have no idea. I would suggest removing them, then monitoring the next Jenkins run after we merge. if it still succeeds, we're good.

[2016-11-09 00:30] SethTisue commented on #331
@dickwall still interested? if not, let's unassign you

[2016-11-09 09:18] fsalvi commented on #512
It seems posix-spawn and yajl-ruby are used by pygments.rb

gem dependency pygments.rb
Gem pygments.rb-0.6.3
  posix-spawn (~> 0.3.6)
  rake-compiler (~> 0.7.6, development)
  yajl-ruby (~> 1.2.0)

[2016-11-09 15:46] SethTisue commented on #512
where do we use or have a dependency on pygments?

[2016-11-09 16:05] fsalvi commented on #512
I'm not sure, maybe it was used in earlier versions of jekyll.
I guess these dependencies can be removed. I just tried on the server and it doesn't change anything...

[2016-11-09 17:01] SethTisue commented on #512
@fsalvi excellent

fixed by #517

[2016-11-09 17:01] #512 closed

[2016-11-09 17:09] SethTisue commented on #119
we are using a newer markdown engine now. recent release notes don't use tables. and I'm not aware of any recent problems with inline code blocks. so I'm tentatively closing this.

[2016-11-09 17:09] #119 closed

[2016-11-09 17:10] SethTisue commented on #105
no longer applicable, I think?

[2016-11-09 17:10] #105 closed

[2016-11-09 17:11] SethTisue commented on #426
it says "Note that this is not an exhaustive list", seems good enough

[2016-11-09 17:11] #426 closed

[2016-11-09 17:12] SethTisue commented on #14
it seems unlikely that this is going to get further attention, especially with a JIRA -> GitHub issues migration hopefully on the horizon

[2016-11-09 17:12] #14 closed

[2016-11-09 17:13] SethTisue commented on #16
http://docs.scala-lang.org/overviews/core/binary-compatibility-of-scala-releases.html

[2016-11-09 17:13] #16 closed

[2016-11-09 17:14] SethTisue commented on #3
no longer applicable

[2016-11-09 17:14] #3 closed

[2016-11-09 17:14] SethTisue commented on #10
http://www.scala-lang.org/blog/

[2016-11-09 17:14] #10 closed

[2016-11-09 17:15] SethTisue commented on #463
This would be a nice enhancement. There would need to be corresponding changes in https://github.com/scala/make-release-notes

[2016-11-09 17:16] SethTisue commented on #42
the hall of fame was retired by https://github.com/scala/scala-lang/pull/387

[2016-11-09 17:16] #42 closed

[2016-11-09 17:17] SethTisue commented on #28
this has been dormant for a long time. let's open one or more new tickets if there are actual remaining todos here

[2016-11-09 17:17] #28 closed

[2016-11-09 17:18] SethTisue commented on #64
this has been dormant for a long time. I don't think it's a priority for Lightbend. and yeah, I agree about the difficulty of keeping it accurate/up-to-date. tentatively closing.

[2016-11-09 17:18] #64 closed

[2016-11-09 17:20] SethTisue commented on #12
out of scope for this repo, I think. somebody could open a ticket on the doc site

[2016-11-09 17:20] #12 closed

[2016-11-09 17:21] SethTisue commented on #55
tentatively closing since this been dormant for a long time. the current styling seems fine to me

[2016-11-09 17:21] #55 closed

[2016-11-09 17:22] #66 closed

[2016-11-09 17:22] SethTisue commented on #66
if someone still sees issues here, please open one or more fresh tickets with fresh links

[2016-11-09 17:24] SethTisue commented on #68
optimistically closing on the assumption this stopped being a problem somewhere along the way

[2016-11-09 17:24] #68 closed

[2016-11-09 17:28] SethTisue commented on #67
https://github.com/scala/scala-lang/pull/506 addresses this slightly, but we should still do more. but I do think it should be done in a way that doesn't simply present the platforms as equal:
* JVM is still the flagship platform
* Scala.js is a strong second
* Scala Native is still very experimental
* Scala-on-Android deserves mention, especially now that http://scala-android.org exists, but (esp

[2016-11-09 17:32] SethTisue commented on #131
optimistically closing on the assumption this is probably fine these days

[2016-11-09 17:32] #131 closed

[2016-11-09 17:33] SethTisue opened #518 "regression: Twitter section on front page is empty"
I assume we're using some ancient API that doesn't work anymore?

a very old related issue: https://github.com/scala/scala-lang/issues/100

[2016-11-09 17:34] SethTisue commented on #100
closing in favor of https://github.com/scala/scala-lang/issues/518

[2016-11-09 17:34] #100 closed

[2016-11-09 17:34] SethTisue commented on #104
if this is still a problem in any modern browser, please reopen this issue

[2016-11-09 17:34] #104 closed

[2016-11-09 17:36] SethTisue commented on #427
I don't think sufficient consensus exists for the style guide to promote a single style here. I suppose it could offer options, or simply mention that styles vary.

[2016-11-09 17:40] SethTisue commented on #437
the hacker guide could always use further improvements, but https://github.com/scala/scala-lang/pull/504 addressed the biggest problems, I think.

[2016-11-09 17:40] #437 closed

[2016-11-09 17:41] SethTisue commented on #422
http://www.scala-lang.org/community/ also

[2016-11-09 17:42] SethTisue commented on #372
perhaps someone could look at the changes @soc made over at get-scala.org and see if any of it could be backported to this repo

[2016-11-09 17:43] SethTisue commented on #65
this got fixed at some point. http://www.scala-lang.org/news/ has two separate sections

[2016-11-09 17:43] #65 closed

[2016-11-09 17:44] SethTisue commented on #62
this would be a great enhancement. we should make this as easy as reasonably possible for a user to get to the GitHub UI for editing a page, without even having to clone the repo locally

[2016-11-09 17:56] jarrodwb commented on #518
This bug may actually be an improvement. ;-)

[2016-11-09 18:49] SethTisue opened #519 "Events page should show past events too"
requested by a user at https://gitter.im/scala/scala?at=5821fcb16cb72076304fcbd8

one really easy way of addressing this would just be to include a link to the relevant directory in the git repo. ugly, but probably a one-liner

a better solution would be to actually show the events, after a break.

[2016-11-09 19:02] SethTisue commented on #62
if you visit e.g. http://www.lagomframework.com/documentation/1.2.x/java/LagomDesignPhilosophy.html

it says at the bottom:

where "here" is a link to the actual individual page on GitHub, e.g. https://github.com/lagom/lagom/blob/1.2.x/docs/manual/welcome/LagomDesignPhilosophy.md, from which you can hit the "Edit" button.

[2016-11-09 19:54] lrytz commented on #16
We should still have a binary compatibility guide for authors, explaining what kind of changes are binary compatible. The page above only explains the policy of the Scala library. Should I open a separate issue for that?

[2016-11-09 20:16] SethTisue commented on #16
@lrytz sure

[2016-11-09 20:17] SethTisue commented on #16
but in https://github.com/scala/scala.github.com I think

[2016-11-09 20:21] lrytz commented on #16
ok, https://github.com/scala/scala.github.com/issues/621

[2016-11-10 17:07] SethTisue commented on #509
the corresponding issue in the docs site repo is https://github.com/scala/scala.github.com/issues/569

[2016-11-10 19:06] SethTisue opened #520 "error building site didn't fail Travis"
see https://github.com/scala/scala-lang/pull/516 for details

why didn't Jekyll give a nonzero exit code here?

~~also, 748c6353bd0217ccf8710d38d13f3f2f5eab72e0 was reverted, should be redone~~ (#525)

[2016-11-10 19:15] jarrodwb commented on #520
Any word on Travis? I find it really strange that it did not catch it.

[2016-11-10 19:34] SethTisue commented on #520
I haven't had time to investigate.

[2016-11-11 19:31] SethTisue opened #521 "add Scala by the Schuylkill to events page"
http://scala.comcast.com

[2016-11-11 20:17] SethTisue commented on #521
(volunteer?)

[2016-11-11 23:24] SethTisue commented on #521
thanks Andy!

[2016-11-11 23:24] #521 closed

[2016-11-11 23:25] heathermiller commented on #521
Oh oops, I missed this one – just saw Andy's pop up instead. Thanks Seth!

[2016-11-11 23:46] SethTisue opened #524 "2.9.3 related error during site generation"
`bundle exec jekyll serve` gives:

[code]

I don't see the same error at e.g. https://scala-webapps.epfl.ch/jenkins/view/All/job/production_scala-lang.org-builder/549/console . no idea what's up

[2016-11-11 23:56] SethTisue commented on #524
with `serve -t`:

[code]

[2016-11-12 00:09] SethTisue commented on #524
false alarm, problem went away after blowing away `_site`

[2016-11-12 00:09] #524 closed

[2016-11-12 00:10] SethTisue commented on #520
problem is reproducible locally with:

[code]

[2016-11-12 00:20] SethTisue commented on #520
I had thought adding this to `_config.yml` might help:

[code]

but it didn't.

[2016-11-12 01:01] SethTisue opened #526 "use GitHub Flavored Markdown"
over at https://github.com/scala/scala.github.com/blob/master/_config.yml we have:

[code]

it would be great to standardize on the same thing here. for multiple reasons:

1) GitHub Flavored Markdown is IMO what our contributors are likeliest to expect
2) it's confusing and error-prone for contributors anytime the two sites have technical differences (and makes it harder to move content between th

[2016-11-12 08:08] jarrodwb commented on #526
:+1:

As a side note on your second point it also makes sense to me to have both site have the same production environment. This would make errors easier to reason about and easier to fix.

[2016-11-12 16:39] heathermiller commented on #526
👍 Agree!

[2016-11-12 18:02] SethTisue opened #528 "add Lambda Days 2017"
http://www.lambdadays.org/lambdadays2017
https://twitter.com/kings13y/status/797223222156660736

(volunteer?)

[2016-11-12 18:03] SethTisue commented on #528
#527

[2016-11-12 18:03] #528 closed

[2016-11-12 18:05] andy1138 commented on #528
:-) think I beat you to it

On 12 November 2016 at 18:02, Seth Tisue <notifications@github.com> wrote:

--
Tanis Systems Limited is a company registered in England and Wales.
Registered number: 5464771. Registered office: 2 Avondale House, 264
Croydon Road, Caterham, CR3 6QJ, VAT 238866167

[2016-11-15 23:21] SethTisue opened #529 "missing image errors during site generation"
[code]

[2016-11-16 01:33] dwijnand opened #531 "https -> http redirect loses path"
Go to https://www.scala-lang.org/files/archive/scala-2.12.0.tgz and you won't download the tarball.

Or here's the curl transcript:

[code]

Note when it redirects, there's no path anywhere, and it ends up returning text/html (the homepage).

[2016-11-16 09:10] jarrodwb opened #532 "We need a dev Scala version in _config.yml"
713e699c8cfd2e454f25fb0595555788b36c703d introduced a bug that breaks the Development Release link in the footer of all the pages.

We need a value for `devscalaversion` that points to an actual page. The current rendering gives a link of `http://www.scala-lang.org/download/.html`.

[2016-11-16 13:11] jarrodwb opened #534 "some broken links"
[code]

[2016-11-16 13:12] jarrodwb commented on #534
This issue is assuming that #533 got merged in.

[2016-11-16 16:41] SethTisue opened #535 "automate broken link checking?"
this could be part of the Travis build, using html-proofer or something like it

see #533, #534

[2016-11-16 16:54] SethTisue opened #536 "push sbt more for getting-started...?"
since #530 the download page suggests sbt as a getting-started option, but http://www.scala-lang.org/documentation/getting-started.html still doesn't

other popular getting-started resources such as https://gist.github.com/djspiewak/cb72c41ac335a3a9b28b3307be04aa43 and https://tpolecat.github.io/2014/12/12/getting-started.html are unequivocal about suggesting sbt

I don't know what the right way t

[2016-11-16 16:56] SethTisue commented on #536
Corresponding to the getting-started options offered on the download page, one could imagine three or more getting-started pages with similar content: one for the command-line compiler option, one for sbt, and one or more IDE-based ones. (Maintaining them in parallel would be a bit of a pain.)

[2016-11-16 19:01] SethTisue commented on #531
@fsalvi is something that might be addressable at your end...?

[2016-11-16 19:26] ashawley commented on #520
I ran across jekyll/jekyll#5257

Apparently,

Scrolling further, it seems it might be a flaw in Jekyll and Ruby and not really a design decision:

[2016-11-16 19:49] SethTisue commented on #520
perhaps we will have to capture and inspect Jekyll's output

[2016-11-16 20:33] charafau commented on #520
I havent used it personally but on [jekyll's docs](https://jekyllrb.com/docs/continuous-integration/) mention `html-proofer` for checks. Maybe we can give it a try ?

[2016-11-16 20:35] jarrodwb commented on #535
I think that all the broken links that have been found should be fixed before any major work on this is done. Every Travis build will fail unless the links are fixed first. #532 also produces a broken link on every page that has a footer.

[2016-11-16 21:23] SethTisue commented on #520
re: html-proofer, that's #535 now

[2016-11-16 21:50] SethTisue commented on #532
hmm. not clear how to fix until 2.13.0-M1 comes out, which won't be for a while (a few months at least).

I really don't think we need to make the development version _that_ easy to find, so I'd be fine with a PR that simply removed devscalaversion and removed the link from the footer.

[2016-11-17 10:49] fsalvi commented on #531
It's ok now.

[2016-11-17 10:49] #531 closed

[2016-11-17 17:53] SethTisue commented on #531
marvelous, thank you Fabien!

[2016-11-17 20:16] SethTisue commented on #520
fixed by #537

[2016-11-17 20:16] #520 closed

[2016-11-18 17:10] SethTisue commented on #532
fixed (in a better way) by #539

[2016-11-18 17:10] #532 closed

[2016-11-18 21:52] ashawley commented on #536
This is the existing page for the "command-line compiler option"

http://www.scala-lang.org/download/install.html

[2016-11-20 11:39] jarrodwb commented on #350
It sounds like we could benefit from updating the `robots.txt` file in the root directory.

[2016-11-20 11:47] jarrodwb commented on #372
@SethTisue It looks like @soc took his site down and removed its history. It maybe possible to salvage some of the changes from forks that other people made of the site before it was destroyed.

[2016-11-20 12:19] jarrodwb commented on #427
This issue is in the wrong repo. I think it should go on scala.github.com.

[2016-11-20 12:35] jarrodwb commented on #519
There is a filter in the main.js file that controls what is displayed. I don't have much experience with javascript but I may get around to it at some point.

I am half tempted to redo the whole thing and use Jekyll, [datafiles](http://jekyllrb.com/docs/datafiles/) and Liquid. I don't think we need javascript to process these events and trainings. There is also some strange php files hanging out i

[2016-11-20 12:55] dwijnand commented on #372
https://github.com/scala/scala-lang/compare/master...f8d0e37815747e93cd53e2a9eec69e8cdd6d6067

[2016-11-20 13:18] jarrodwb commented on #518
What do people think about removing this section from the front page? I have been playing around with the idea locally and I like it. People can still find the Twitter account in the header.

[2016-11-21 10:45] sjrd commented on #519
The reason we did it in JS rather than server-side is so that it would update without needing to rebuild the static pages (which only happens when we push a new commit).

[2016-11-21 18:02] SethTisue commented on #518
I lean, mildly, towards keeping it. For better or worse, Twitter is our main way of getting news out.

[2016-11-21 21:04] #518 closed

[2016-11-21 21:08] SethTisue opened #548 "tweets section is way too big"
can we control the appearance of this? I don't remember what it looked like before, since it's been broken for some time, but how it looks now — well, “prominent” is the nice way @jarrodwb put it, I was thinking more along the lines of "gigantic and hideous" :-)

[2016-11-21 21:09] jarrodwb commented on #548
;-)

Its current form is better than nothing. I am sure we can get it fixed up in a day or two.

[2016-11-21 21:10] SethTisue commented on #548
<img width="537" alt="screen shot 2016-11-21 at 1 09 50 pm" src="https://cloud.githubusercontent.com/assets/161079/20500801/d3e31726-afeb-11e6-88c6-a0aac85483ae.png">

[2016-11-21 21:18] jarrodwb commented on #548
It looks like we can pull the markup out of the main.js file. Maybe tomorrow.

https://github.com/scala/scala-lang/blob/master/resources/js/main.js#L133

[2016-11-21 21:42] ashawley commented on #548
I meant to delete that reference in the last PR, but I guess it got lost when I was rebasing after Fabien's commit.

I'm not sure if re-using the old markup is possible.

I'll try reducing it to the "maximum" configured width for a tweet timeline which, according to Twitter's docs, is 520 pixels.  It should be a lot less prominent with the so-called "maximum".

[2016-11-21 21:57] #548 closed

[2016-11-21 23:01] SethTisue commented on #534
does #544 fix this completely?

[2016-11-21 23:24] SethTisue commented on #372
interesting. but locally:

[code]

not sure how I would get that commit onto my machine. (and, might GitHub garbage collect it? where did you get that SHA?)

[2016-11-22 06:54] jarrodwb commented on #372
I found a repo that is not to old. Maybe that helps. There may also be a more recent fork out there.

https://github.com/nightscape/scala-lang.git

[2016-11-22 07:11] jarrodwb commented on #534
Unfortunately 'fixing broken links' is a moving target. https://www.google-melange.com/ is done now. :roll_eyes:

The spirit of this issue is fixed so I will close it and keep my eye on this for the future.

[2016-11-22 07:11] #534 closed

[2016-11-22 10:30] dwijnand commented on #372
When you create a PR against a repo in GitHub it creates a branch in the target repository with the changes in the PR. These branches are typically excluded when you clone or fetch from GitHub (but if you reference them you can fetch them).

So in this case I found this reasonably recent PR https://github.com/soc/scala-lang/pull/22 and used it's HEAD.

There might be a way to delete these branches

[2016-11-22 11:58] Lasering opened #551 "Many type hierarchy diagrams no longer available"
For example:
In Scala 2.11.7 the type hierarchy diagram existed for `Option`:
http://www.scala-lang.org/api/2.11.6/index.html#scala.Option
But in [Scala 2.11.8](http://www.scala-lang.org/api/2.11.8/index.html#scala.Option) and [Scala 2.12.0](http://www.scala-lang.org/api/current/scala/Option.html) it vanished.

The same happened for every `AnyVal` subtype, eg: `Int`, `Long`, `Double`, etc.
It also

[2016-11-22 19:10] SethTisue commented on #551
duplicate of https://github.com/scala/scala-dev/issues/105 (but yes this was the right place for you to report this, there's no way you could have known to go hunting over in scala-dev; thank you for reporting)

The problem shows up on scala-lang.org, but I think the place we'll need to fix it is probably https://github.com/scala/scala-jenkins-infra

[2016-11-22 19:10] #551 closed

[2016-11-26 14:55] provegard opened #553 "Cannot copy from expanded method documentation"
To reproduce:

1. Go to http://www.scala-lang.org/api/current/scala/collection/concurrent/TrieMap.html
2. Scroll down to "Value members" and click on the first entry to expand it.
3. Select some text using the mouse. The entry collapses and no text is (visually) selected.
4. Press CTRL+C anyway, thinking that the selection perhaps just is hidden.
5. Paste somewhere and realize that you just got th

[2016-11-26 17:00] jarrodwb commented on #553
Try to type CTRL+C with your mouse button still down. At least that worked for me. After I release the mouse the cell collapses but the text is still copied.

[2016-11-27 17:07] s5k6 opened #557 "Don't use mathjax in code examples in the Scala language specification"
I personally find it unfortunate to use mathjax in documents like [1].

  * Cut'n'paste from Examples leaves me with

        val x  = mylist match { case x :: xs => (x, xs) }
        val x = x ._1
        val xs = x ._2

    dropping dollars and introducing spaces.

  * The (potentially intended) distinction between (Scala) variables
    and (documentation) meta-variables is not consistent in the

[2016-11-27 18:04] SethTisue commented on #557
How do you propose that formulas be typeset?

[2016-11-28 10:38] s5k6 commented on #557
On 2016-Nov-27, Seth Tisue wrote with possible deletions:

For source code examples, I would use plaintext only.  In the following example, I see no benefit in using a mathjax `$` sign:

    val x$ = mylist match { case x :: xs => (x, xs) }
    val x = x$._1
    val xs = x$._2

I would even resort to plain text if this does not abstract over variable names any more, with a decent description it sh

[2016-11-28 20:23] SethTisue opened #559 "Generate the spec using same Jekyll version"
So we recently got this repo and the docs.scala-lang repo onto modern Jekyll, but over in the scala/scala repo we're still on an older Jekyll (and, I notice, don't have a Gemfile.lock)

Opening the ticket in this repo because scala-lang.org is where the spec is hosted, even though it's built and uploaded by the `.travis.yml` in scala/scala.

Is there someone here who's comfortable enough with Jeky

[2016-12-01 08:39] jkleiser opened #563 "Text color too "faded""
As I said in a recent tweet, with text styled with "color: #586E75;", like here http://www.scala-lang.org/blog/2016/11/17/splash.html, I don't feel like I want to read it. Sorry.
It seems to be a general problem (for me) with the scala-lang pages, like this one here: http://www.scala-lang.org/documentation/. The text is too "faded". I have a quite good iMac from 2011, and a MacBook Air from 2015.

[2016-12-01 09:07] jkleiser commented on #563
I also find the text on this page https://ruudvanasseldonk.com/2016/11/30/zero-cost-abstractions very easy to read. They use "color: #456;".

[2016-12-01 10:06] jvican commented on #563
I agree, I don't read well low-constrast color schemes. @jkleiser Would you be up for submitting a PR?

[2016-12-01 10:13] jkleiser commented on #563
No, I cannot do that now. I'm afraid the job should include more re-styling than just this single color.

[2016-12-01 14:56] SethTisue commented on #563
duplicate of #509 ?

[2016-12-01 15:05] jkleiser commented on #563
Yes, it's about text contrast, as in #509.

[2016-12-01 15:05] #563 closed

[2016-12-01 15:10] SethTisue commented on #563
thanks @jkleiser for the report. (I should have remembered earlier that we already had an issue on this.)

[2016-12-02 19:25] jarrodwb commented on #559
Yeah. I can git it a shot. I just started a new job two days ago but I think I will still have some time on the weekends for helping out.

Cheers.

[2016-12-04 22:38] vossad01 commented on #350
What @fsalvi did with redirects sounds good.  I know I still have recently pulled useful information out of the old website because it appeared in the search results.  I did not investigate everything to see if the the current site had the info.  I did note that other, similarly ranked, results did not look like that would have been as concise in answering the programming/language question I had.

[2016-12-05 22:48] SethTisue opened #567 "2.13 spec should be available at http://www.scala-lang.org/files/archive/spec/2.13"
this might not sound urgent, but I suspect if we don't take care of it soon, the 2.13 spec will end up overwriting the 2.12 spec on the server. we already experienced this once with 2.11->2.12, details at https://github.com/scala/scala-lang/issues/479

@adriaanm can you wave your ssh forced-command wand at this?

the scala/scala piece is https://github.com/scala/scala/pull/5582 and will need to be

[2016-12-06 14:26] adriaanm commented on #567
Server work done:
[code]

[2016-12-06 19:24] SethTisue commented on #567
5582 is merged

[2016-12-10 14:36] SethTisue commented on #567
@adriaanm http://www.scala-lang.org/files/archive/spec/2.12/ says "2.13" again. last time I checked it said "2.12", so it seems to go back and forth. maybe it depends on which Jenkins job happens to finish first

[2016-12-11 22:25] ashawley commented on #559
I created the pull request scala/scala#5593.

Changing the version number in the `Gemfile` brought Jekyll up-to-date with the other repos.  Doesn't seem like there's any need to use a `Gemfile.lock`, unless you wanted to track those changes.

[2016-12-12 19:10] adriaanm commented on #567
Ah I think I know what the issue is. Needed to generate a new keypair. Seems like you can't have multiple entries with different forced commands and the same public key

[2016-12-12 19:30] adriaanm commented on #567
Looks like it's ok now: https://travis-ci.org/scala/scala/builds/183353137

[2016-12-12 19:37] #567 closed

[2016-12-12 19:37] #559 closed

[2016-12-12 19:39] adriaanm commented on #567
https://github.com/scala/scala/commit/8066246f15964e33603ff1ca8f7ef27c98774483

[2016-12-12 20:42] adamw opened #578 "Include contributors.scala-lang.org on the community page?"
I just found out about https://contributors.scala-lang.org (by chance on twitter).

I'd do a PR but I'm not sure how it relates to all the mailing lists (like scala-language, scala-debate) - is it a replacement?

[2016-12-12 21:08] heathermiller commented on #578
Thanks @adamw for raising the issue. I've got a PR that's waiting to be made that'll update scala-lang with these things. Though you were exactly right; I was just waiting on consensus about how we'd handle the mailing lists. Will update the community page soon!

[2016-12-12 21:13] adamw commented on #578
Ah I see - thanks for the info :)

[2016-12-12 21:15] #578 closed

[2016-12-13 19:05] SethTisue commented on #452
Scalapeno coming in May http://www.scalapeno.org.il

[2016-12-14 09:28] andy1138 commented on #452
The Scalapeno website still only has this year (2016), think we should wait
until it has been updated before including it in the events list.

On 13 December 2016 at 19:05, Seth Tisue <notifications@github.com> wrote:

--
Tanis Systems Limited is a company registered in England and Wales.
Registered number: 5464771. Registered office: 2 Avondale House, 264
Croydon Road, Caterham, CR3 6QJ, VAT 2388

[2016-12-14 14:13] SethTisue commented on #452
oops, I misread somebody's tweet

[2016-12-27 22:27] provegard commented on #553
@jarrodwb Thanks, that works! I'd still say that this is a bug though.

[2016-12-28 18:51] vossad01 opened #581 "Is an "overhaul" in the works?"
I have seen a number of distributed references to a potentially major changes coming to the website.  Is this actually planned?  Is there any way to bring such a plan into the public light?

Contributors may be hesitant to work on the current scala-lang if it is likely to be superseded by a new version.  Since nothing is tracking what is planned for a new version, they cannot see if their change i

[2016-12-28 21:29] jarrodwb commented on #581
Thanks for bringing this up. I don't have any more information to share on the topic.

Hopefully we can get a reboot of the site in the works. I suspect it is just a matter of time and prioritization. The new year is just around the corner. :+1:

If there is anything I can do to help please let me know. I am still getting settled in Hamburg at the moment but I can find time soon help out.

[2016-12-29 11:38] heathermiller commented on #581
Hi @vossad01, thanks for asking. I'm not sure a GitHub issue is the most appropriate place to ask this question, because this isn't really a specific _issue_ with the site that can be _fixed_. It's more of a question/discussion that would probably be best placed on Discourse.

In any case, the answer is yes, as of right before Christmas, concrete plans were made and tentative dates/deliverables we

[2016-12-29 14:25] SethTisue commented on #581
So contributors shouldn't currently embark on an ambitious site overhaul (or even just look & feel overhaul), but it's very much still safe and encouraged to contribute pretty much any other kind of incremental change. Nothing will get lost. (SCP-008 strongly emphasizes incremental change.)

Of course, it's always a good idea to discuss any sweeping or potentially controversial change in advance b

[2016-12-29 14:26] #581 closed

[2016-12-29 14:46] vossad01 commented on #581
**The issue:** As a potential contributor, I suspect it is not worth my time to contribute to the project because the project is not open about its plans.  Some evidence suggests that my contributions would be moot because major changes have been suggested.  Not mentioned in OP, I further know there were issues in the past surrounding this particular project that lead to a fork of moderate success

[2016-12-29 15:25] SethTisue commented on #581
I think SCP-008 and the advisory board minutes where it was discussed, is very open and clear about exactly what's going on. A draft of SCP-008 was discussed in public well in advance of the meeting; scala_lang tweeted about it.

I honestly don't see what could have been done better or more openly here...?

[2016-12-29 15:27] SethTisue commented on #581
P.S. I don't think your characterization of Simon's fork is accurate, but I don't think we should re-litigate that on this ticket, either.

[2016-12-29 17:09] vossad01 commented on #581
@SethTisue All of the things you mentioned happened outside of this GitHub project.  Effectively, if a user that wants to participate on this project they need to learn about and plug into a broader Scala community or risk not being informed.  If a user wants that level of commitment, it is great that a community is there.  However, my minority opinion is that it is too high of commitment and make

[2016-12-29 17:36] SethTisue commented on #581
Thanks, that helps me understand your thinking better.

A lot of what you've written is about how communication is handled in the Scala open source effort generally, spanning multiple repositories. I'm only going to respond to the part that I see as specifically being about this repository in particular.

I'm actually totally comfortable with that. I really don't think this repo is active enough t

[2016-12-29 19:42] vossad01 commented on #581
@SethTisue Thank you for this.  I think your post is probably the clearest explanation on the difference of opinion.  I think your view is valid and makes sense.

Where my opinion is different is that I am not sure that same people that are in those other discussions are also those most likely to be active in maintaining a website.  The same people that like discussing intricacies of a language an

[2016-12-29 22:20] SethTisue commented on #581
I hope so!

One more thought about the “where people already are” thing — I think the site could certainly do a much better job of recruiting _the site visitors themselves_ to help out. So e.g. https://github.com/scala/scala-lang/issues/62, which I hope will get attention. (Note that an interested contributor could make targeted improvements in this area now or any time, it doesn't actually need 4

[2017-01-05 22:39] vossad01 opened #584 "Canonical link to the latest language specification"
As a user, I want persistent urls to the latest version of the Scala Language Specification so that I can easily find it and when needing to look into behavior.

Finding the latest Scala specification is _hard_.  It cannot be found from search (without leaving the first page or results anyway).  The explicit search of "scala language specification 2.12" suggests that I want "scala language specifi

[2017-01-09 20:55] SethTisue commented on #584
fwiw, the path I use is: go to scala-lang.org; click "Documentation"; click "Specification"; done.

One idea, not necessarily the only or best idea: what if all of the versions of the spec, at the top where the version number is, had a switcher where you could easily switch to any other version? That would help a great deal with the stale link problem.

PRs welcome!

[2017-01-09 20:57] SethTisue commented on #557
Pull requests that reduce or eliminate the use of Mathjax in source code examples would be very welcome, I think — that seems like the highest priority part of this.

[2017-01-09 20:58] SethTisue commented on #553
(@felixmulder?)

[2017-01-09 21:09] vossad01 commented on #584
but... but... if Google can't find it can't be real 😋

(On a serious note: my steps are actually: got to scala-lang.org; click "Language Specification"; done. 🙃 Easy enough once you know the link is there.  When someone doesn't, chances are good they will search.)

[2017-01-09 21:29] felixmulder commented on #553
The issue is that the function [template.js#commentToggleFct](https://github.com/scala/scala/blob/2.12.x/src/scaladoc/scala/tools/nsc/doc/html/resource/lib/template.js#L233) in template.js is being bound by:

[code]
in [template.js#L261-L263](https://github.com/scala/scala/blob/2.12.x/src/scaladoc/scala/tools/nsc/doc/html/resource/lib/template.js#L261-L263). I believe that the text selection falls

[2017-01-09 21:45] felixmulder commented on #553
@SethTisue - cloned a fresh scala/scala repo to fix this, but got:

[code]

when trying to start sbt, so I'm giving up for tonight - I've an early morning. I won't be upset if you fix this instead of me :smile:

[2017-01-10 10:46] heathermiller commented on #557
I agree that for source code examples, plain text would be preferable.

However, the specification is something of an academic document, which uses specific notations, and in many cases I think Mathjax is actually the most appropriate way to typeset some things. So I wouldn't support a wholesale replacement of Mathjax... Just where it's unnecessary, like source code examples.

[2017-01-13 14:05] SethTisue opened #587 "Events page not showing all events?"
until recently http://www.scala-lang.org/events/ included several far-off events like Scala World 2017, but now they're missing?

is there some limit on how many events show up? if so, I suggest we remove that limit

cc @propensive

[2017-01-13 14:14] heathermiller commented on #587
Seems the max is hardcoded to be 15 in the events js here: https://github.com/scala/scala-lang/blob/master/resources/js/main.js#L229

[2017-01-13 14:23] SethTisue commented on #587
I lifted the limit in 47e02d056a84c4f4dfa06c1f351e9f6275c668d2 — wanted to get this in right away since scala_lang juuuuust tweeted about it

[2017-01-13 14:23] #587 closed

[2017-01-13 14:27] SethTisue commented on #452
Chef Pretty has taken a fresh batch of events out of the oven in 0fa3ecb0bb3eed18934917bf6d8f14d773bec66e

[2017-01-13 14:31] heathermiller commented on #452
👏 ❤️

[2017-01-13 17:12] propensive commented on #587
Ah, thank you. I spent a good five seconds looking for that limit before giving up and realizing it was easier to wait a few weeks for them to naturally appear!

[2017-02-07 10:52] fsalvi commented on #350
Here's an updated list of old pages still requested (ordered by most watched)

* Scala Code Examples
http://www.scala-lang.org/old/node/219

* How can I catch exceptions?
http://www.scala-lang.org/old/node/255.html

* Getting Started with Scala
http://www.scala-lang.org/old/node/166.html

* Scala Snippets
http://www.scala-lang.org/old/node/220.html

* How to test String is null or empty?
http://ww

[2017-02-07 16:21] DastardlyVandal opened #593 "The Website's width is off in some browsers."
On Chrome 56 for Fedora 25, the issue is present. However, in Firefox it is not.

Visiting the [getting started](https://www.scala-lang.org/documentation/getting-started.html) page and scrolling horizontally produces [this](http://i.imgur.com/O00fcz6.png)

Just a minor styling issue between browsers.

Edit: After a bit of poking around, it appears the issue is caused by a styling change made by ja

[2017-02-08 18:01] SethTisue commented on #535
I was able to run htmlproofer myself by adding this to `Gemfile`:

[code]

then running `bundle install` and `bundle exec htmlproofer`

[2017-02-13 23:53] SethTisue commented on #536
I gather work on this is currently happening at the Scala Center.

[2017-02-14 08:26] heathermiller commented on #536
Yep, @travis032654 has been working on getting started documentation. I think he'll make a PR sometime soon with the new docs he's written (thoroughly reviewed already by everyone at the Scala Center, but not yet by the community)

[2017-02-14 09:34] travis032654 commented on #536
They don't really fit into the current structure of the docs site. We're working on restructuring that as well. Hopefully the designs from 47 Degrees will come through in the next week and I can create pull requests for the tutorials.

[2017-02-14 11:28] heathermiller commented on #536
@travis032654, this ticket relates to scala-lang.org, not the doc site. (The doc site is in repo scala.github.com). And I think Seth was referring to the getting started guide that you overhauled, so this would be the stuff we'd link to from the download page.

[2017-02-14 15:00] travis032654 commented on #536
Okay, I'll create a PR.

[2017-02-14 20:59] SethTisue commented on #578
fixed by #588

[2017-02-27 18:46] ashawley opened #607 "Should Travis fail on Jekyll warnings?"
Jekyll warning thrown in the build for #606:

    Build Warning: Layout 'blog' requested in blog/_posts/2017-02-27-scalafix-v0.3.md does not exist.

Not sure the cause, or if the consequence is severe (I think the blog post gets deleted, but again not sure...) but was wondering if this was something that should be caught by Travis.

Jekyll errors was last taken up in #537

[2017-02-28 03:48] SethTisue commented on #607
it certainly seems to me that it should!

[2017-02-28 12:18] dominv commented on #607
For what I know so far, Jekyll is currently only throwing fatal errors but it doesn't consider the inability to process a file a fatal error so it shows a warning and it finishes the build exiting with 0.

This specific warning is caused by a recent post file not located in its new custom collection. It will be fixed on an upcoming commit.

[2017-03-07 18:42] #607 closed

[2017-03-07 23:03] jvican opened #614 "Consider creating an independent "Resources" website"
The Scala website has a section for learning resources: http://scala-lang.org/community/index.html#community-libraries-and-tools.

However, I think it deserves its own independent webpage. People visiting the website may miss "Community-Powered Learning Resources" and "Community Libraries and Tools". These actions have value on their own and they are actually quite critical for developers to know

[2017-03-08 01:15] adriaanm commented on #614
Yes! This is an important topic. What are website visitors looking for when they go to scala-lang?

Right now we break it down as:
  - documentation
  - download
  - community
  - contribute

You've identified two more important needs/interests:
  - learn (which is more than docs, it could be a course, a forum, a collection of blogs)
  - get involved

Here's another way to break it down (kind of a

[2017-03-08 03:05] tpolecat commented on #614
"Can you recommend learning resources?" is a very frequent question on Gitter, IRC, and Reddit, so 💯 for amplifying this part of the website.

[2017-03-08 16:04] travis032654 commented on #614
What if "Getting Started" was on the learning page? I like to minimize the number of choices of things to click on. I think it makes it easier to navigate.

[2017-03-08 20:12] jvican commented on #614
Totally agreed.

Good idea, we can also write a note that asks readers to report if material has become obsolete. I think that sometimes not even we know it is.

Sure, this works for me. I would need to see the final look and structure of the website, though, because putting it everything into "Getting Started" would divert the focus of the sections. I would prefer short and accessible sections ra

[2017-03-09 10:35] travis032654 commented on #614
Sure!

[2017-03-14 22:00] SethTisue commented on #519
@propensive this might interest your reflective, looking-backwards side. you'll want to tackle it before writing your memoirs, surely

[2017-03-14 22:00] SethTisue commented on #536
this is in progress at https://github.com/scala/scala-lang/pull/608

[2017-03-15 20:51] SethTisue commented on #557
I've changed the issue description to just cover the part of this we all seem to agree on.

[2017-04-01 18:01] lol768 opened #627 "Downlaods over HTTP?"
Currently scala-lang.org links this URL:

`http://downloads.lightbend.com/scala/2.12.1/scala-2.12.1.tgz`

But, `downloads.lightbend.com` supports HTTPS. Why are the download links given using HTTP?

Related: #463

[2017-04-01 20:46] jarrodwb commented on #627
Good point.

`grep -r 'downloads.lightbend.com' . | wc` gives `336` results. Visual inspection shows that they are all http calls.

It would not be to hard to put together a PR for this.

[2017-04-02 18:45] lol768 commented on #627
Agreed, see #628. I don't want to treat the symptom only though - where do these links come from? Are they generated automatically? Can I fix the source too?

[2017-04-02 21:09] SethTisue commented on #627
they come from https://github.com/scala/make-release-notes; a PR on this in that repo would be very welcome

a PR addressing https://github.com/scala/make-release-notes/issues/35 would also be very welcome; that would address the root cause of it not being obvious where the files come from

[2017-04-03 14:53] ashawley commented on #627
Does this script need to be updated, too?

https://github.com/scala/scala-dist/blob/2.12.x/scripts/jobs/release/website/archives

It's not clear to me what it does, exactly, but it has a lightbend URL, as well.

[2017-04-03 15:32] SethTisue commented on #627
That would be nice. It's only using that URL to retrieve things, but it might as well use the more secure form.

As for the purpose of that section of the script, I don't recall having dealt with it before, but it takes the artifacts available at downloads.lightbend.com and also makes them available at http://www.scala-lang.org/files/archive/. (Digression: I'm not sure if that's just, like, a back

[2017-04-03 15:33] SethTisue commented on #627
Maybe it's more that nice, maybe it's really a good idea. If the scala-lang.org download URLs aren't usually used, this would be a really bad place to fall prey to MITM.

[2017-04-04 14:24] lol768 commented on #627
Thanks all for your input on this.

I think the only thing I haven't addressed here is:

I'll see if I can wrap my head around what's going on with the comment issue - if I can get it to work I'll open another PR.

[2017-04-07 15:58] SethTisue opened #631 "bug reporting guide should reflect the JIRA -> GitHub move"
http://www.scala-lang.org/contribute/bug-reporting-guide.html points at JIRA, but the new hotness is https://github.com/scala/bug

[2017-04-07 16:01] SethTisue commented on #631
once the page here is in good shape, the readme at https://github.com/scala/bug/blob/master/README.md could be replaced with just a single link to the page

[2017-04-07 16:01] SethTisue commented on #631
@adriaanm suggests we get rid of the page here instead, and put all of the information in the readme in the bug repo

[2017-04-07 16:24] SethTisue commented on #631
could be tackled in tandem with updating the scala/scala README.md and CONTRIBUTING.md. we should consolidate this stuff, I have no idea which of these things has what info, I assume nobody else does either

[2017-04-13 19:49] SethTisue opened #635 "cdn.mathjax.org is shutting down"
see announcement at https://www.mathjax.org/cdn-shutting-down/

this will affect the language specification.

the needed change is actually in the scala/scala repo — we'll need to make the change on the 2.11.x branch and then merge it forward to 2.12.x and 2.13.x

(I don't think we archive old builds of the spec, so I don't think there's anything to go back and update there)

[2017-04-13 20:44] SethTisue commented on #635
this Typelevel PR may be a useful reference: https://github.com/typelevel/typelevel.github.com/pull/163

[2017-04-13 20:49] ashawley commented on #635
So just migrate the language spec to the cdnjs at Cloudfare?

Funny how the announcement reads.  I'm paraphrasing, but essentially "We can't afford to run the CDN on Cloudfare, so everyone needs to transitioning to running off of the CDN on Cloudfare".

[2017-04-13 21:07] adriaanm commented on #635
I did this already. I pushed directly to the respective branches.

[2017-04-13 21:12] adriaanm commented on #635
I'll propagate the change to 2.12 in the (hopefully) final merge from 2.11

[2017-04-13 21:14] adriaanm commented on #635
https://github.com/scala/scala/pull/5851

[2017-04-13 21:26] SethTisue commented on #635
OK, closing then since it's fixed on the 2.11 branch

[2017-04-13 21:26] #635 closed

[2017-04-18 02:18] SethTisue commented on #593
we should check to see if this got fixed in #606

[2017-04-18 02:19] SethTisue commented on #67
#606 does something towards this

[2017-04-18 02:20] SethTisue commented on #79
possibly fixed by #606? we should check

[2017-04-18 02:20] SethTisue commented on #331
now that we've moved Scala bugs off JIRA and onto GitHub Issues, this needs a fresh look

[2017-04-18 02:21] SethTisue commented on #372
should be fixed by #606

[2017-04-18 02:21] SethTisue commented on #422
did this happen in #606?

[2017-04-18 02:22] SethTisue commented on #427
agree. I invite anyone interested to open an issue there, or better yet, send a pull request

[2017-04-18 02:22] #427 closed

[2017-04-18 02:23] SethTisue commented on #508
possibly fixed in #606? we should check

[2017-04-18 02:24] SethTisue commented on #509
I'm not sure if this got addressed in #606 or not

[2017-04-18 02:26] SethTisue commented on #535
Idea: we could start by whitelisting existing broken links, to keep Travis green. That would prevent new PRs from making the situation worse. Then over time, we could try to shrink that list.

[2017-04-18 09:10] Dinduks commented on #79
@SethTisue The texts I showed are still tiny. :)

[2017-04-27 09:44] travissarles opened #639 "Liquid doesn't render code blocks with tut"
If you have a code block in your markdown with three back ticks ```tut, liquid will not render it. We need to figure out how to use [tut](https://github.com/tpolecat/tut) and liquid.

[2017-04-27 16:56] tpolecat commented on #639
Why aren't you using the tut output? Is it just too much of a hassle to set up?

[2017-04-27 17:10] SethTisue commented on #639
previous discussion on this https://github.com/scala/scala.github.com/pull/593#issuecomment-251761233

it's future work for some motivated volunteer

[2017-04-27 17:11] SethTisue commented on #639
@travissarles is this currently causing problems on the site?

[2017-04-29 04:08] robinske opened #641 "Concurrency & Distribution example uses deprecated method"
On the homepage in the `Scala in a Nutshell` section, it references the `future` method which has been deprecated.

https://github.com/scala/scala/blob/cc7acdde787fe32ba5894c35d1019963ed094c87/src/library/scala/concurrent/package.scala#L118

[2017-05-01 15:42] ashawley opened #643 "Make Scala in a nutshell bullets more prominent"
After visiting the Scala Web site for 2 years, I hadn't noticed you could click on the "bullets" on the main page to uncover Scala code examples ("Seamless Java interop", "Type inference", "Concurrency & distribution", "Traits", "Pattern matching", "Higher-order functions").

Is there a way to make these more prominent?  Doesn't look like the redesign changed them much in #606 (although font contr

[2017-05-01 15:46] SethTisue commented on #643
omg, me either, I had no idea.

part of the problem is that even if you get the idea to click, then after you click one of them, the thing that appears is waaaaaay below where you clicked, so it might not even be on the screen. when I tried it at first, I thought the site was broken, and it took me a little while to figure out what was happening. so for example:

![screen shot 2017-05-01 at 8 44 2

[2017-05-01 18:28] ashawley commented on #643
Yikes.  Is that with the current site, or the redesign?  Hopefully, that doesn't exist in the redesign.

[2017-05-01 18:33] SethTisue commented on #643
Oh. I should have checked. It's much better in the redesign. (I've deleted most of my comment.)

[2017-05-01 19:46] travissarles commented on #639
@SethTisue I'm making some changes to scala-lang and I noticed it wasn't wasn't rendering. However it was working fine with the Tour of Scala so maybe it's a matter of copying over whatever configuration is in the scala.github.com repo.

[2017-05-02 17:54] #641 closed

[2017-05-02 20:29] travissarles commented on #643
I noticed this issue as well. It is better with the latest design but it's still not as obvious as it could be. Next time we do another design makeover, this should be a priority.

[2017-05-02 20:50] SethTisue commented on #643
maybe just adding a little "more..." link to each one would do it

[2017-05-03 08:50] travissarles commented on #643
I'm going to ask a designer friend about this one...

[2017-05-03 20:28] ashawley commented on #643
Or, god forbid, just open the first bullet by default...

[2017-05-04 10:25] travissarles commented on #643
I just tried opening the first bullet and it clutters the page even more. I'll experiment with a `+`

[2017-05-04 14:44] SethTisue commented on #519
This came up today on scala/center Gitter. Someone wanted to know if there were any Scala conferences in Asia. Since the page doesn't show past events, we couldn't easily answer.

[2017-05-07 05:09] Blaisorblade opened #644 "Can't ctrl-click/Cmd-click on links"
I often open links in new tabs by Cmd-click on OS X. That typically fails on scala-lang.org. Take https://www.scala-lang.org/contribute/documentation.html#updating-scala-langorg
Strangely, the link to http://docs.scala-lang.org/contribute.html works OK, but the one to https://github.com/scala/scala-lang doesn't.

Probably some JavaScript interfering? Maybe related to
https://github.com/scala/scala

[2017-05-07 05:10] Blaisorblade opened #645 "Confusing structure for news list"
https://www.scala-lang.org/news/releases-1Q17.html is not on https://www.scala-lang.org/news/.

EDIT: sorry, it's just hidden, after all news and blog posts ever since 2013.

[2017-05-07 05:17] Blaisorblade opened #646 "No link from blog posts/news items to list of"
Try to click somewhere in https://www.scala-lang.org/news/releases-1Q17.html to get to https://www.scala-lang.org/news/.

Or try to get from https://www.scala-lang.org/blog/2017/02/27/scalafix-v0.3.html to https://www.scala-lang.org/blog/ by links.

I just noticed there's a link snuck at the bottom right in the end (after three times I've been on the verge of filing an issue). Could we have someth

[2017-05-07 11:56] travissarles commented on #645
@Blaisorblade can we close this?

[2017-05-07 13:50] Blaisorblade commented on #645
I left it open as "hidden" still seems a usability bug rather than a design choice. How is an announcement not news? Why are some sections mixed and others not?

[2017-05-07 14:17] SethTisue commented on #645
I find this highly confusing as well and would welcome a rethink.

[2017-05-07 15:23] ashawley commented on #645
This was previously #197, but there has been a lot more news since then, so the fix didn't scale.

[2017-05-08 15:37] propensive commented on #519
@SethTisue Heh, I just saw your comment from March, back when I was much worse at checking my GitHub notifications... The answer is "Scala Matsuri", but I had to rely on my memory rather than memoirs for that, and it is (to the best of my knowledge) the only Scala-only conference (series) that's been run anywhere in Asia. There have been some FP conferences in India too, I believe.

[2017-05-29 09:13] lucianenache commented on #519
Hi, I would like to add this enhancement to the scala-lang page during the spree in Copenhagen on Wednesday.

There are a few ways we could get this done:

- Link to the github _posts in the events directory (ugly but quick)
- Create sub pages in the events page for Current and Past Events (we would filter them with jQuery - prefered)
- Create sub pages for each event stored in github where most r

[2017-05-30 11:42] SethTisue commented on #519
I agree that #3 is overkill. #2 seems nicest, but certainly #1 is much better than nothing and would count as success. See you tomorrow!

[2017-05-30 14:23] DarkDimius opened #655 "Some historical links are dead"
E.g. 2.11 release nodes link from https://news.ycombinator.com/item?id=7621622 is dead

[2017-05-30 17:30] SethTisue commented on #493
@travissarles over at https://github.com/scala/scala.github.com/issues/782#issuecomment-304948051 you wrote:

would you mind briefly summarizing that discussion here?

[2017-06-05 12:11] SethTisue opened #663 "release notes page on scala-lang doesn't obviously link to 2.11.11 and 2.12.2 notes"
http://www.scala-lang.org/download/#Release_Notes links to http://www.scala-lang.org/news/#announcements--changelog but there is no sign of 2.11.11 or 2.12.2 at either location

(thanks to ilmari on #scala IRC for the report)

[2017-06-05 12:16] SethTisue commented on #663
the latter URL does have a "Three new releases and more GitHub goodness!", but to someone who is just looking for the release notes for a particular version, it isn't really satisfactory. the IRC user missed it, and I didn't see it until the second time I visited the page.

[2017-06-05 12:28] adriaanm commented on #663
The idea is that we should use the release note feature on github, so the fix for this issue would be to update the link. Is that the intent? If so, I'm happy to make the change.

[2017-06-05 12:31] DarkDimius commented on #663
For Dotty I've decided to have a single link in https://github.com/lampepfl/dotty/releases that refers to a github-tracked file.
This allows to maintain release notes with commit history and use normal editors to modify them.

[2017-06-05 12:54] SethTisue commented on #663
The best quick fix I can think of is to do that, but to also include the old link, for two reasons:

1) the GitHub release notes only go back to July 2013
2) and the GitHub UI doesn't make it easy to find a specific older version

Before too much longer 2 is going to get pretty annoying, but we could cross that bridge later.

Dima's suggestion is interesting, but on this ticket I was really just l

[2017-06-07 13:45] SethTisue commented on #663
another victim claimed: https://gitter.im/scala/contributors?at=5937df7531f589c64f82bb73

[2017-06-08 12:49] jvican commented on #614
@travissarles Can you have a look at this any time soon? It would be great to have this and optimize for contributors :smile:.

[2017-06-09 08:41] #663 closed

[2017-07-07 08:10] MasseGuillaume opened #674 "website not up to date"
https://github.com/scala/scala-lang/pull/673 was merged but http://scala-lang.org/blog/ does not show the article

[2017-07-07 08:10] #674 closed

[2017-07-10 15:06] Abrasha opened #675 "Grammar typo in docs"
![scala_typo](https://user-images.githubusercontent.com/11317222/28024789-58050f28-659a-11e7-8ede-ab53b74598d3.png)

Link: http://docs.scala-lang.org/tutorials/tour/traits.html

Simple typo in docs:
Actual:

Required:

or

[2017-07-12 17:13] #675 closed

[2017-07-12 19:46] megri commented on #644
What does the spree-label mean? I could take a stab at this if no one else wants to

[2017-07-12 19:49] heathermiller commented on #644
Go for it! (Spree means it was suggested as a ticket for someone to work on during one of our [open source sprees](https://github.com/scalacenter/sprees))

[2017-07-12 20:01] megri commented on #644
Damn, missed out on that swaggy t-shirt. I'll give it a try anyhow!

[2017-07-12 20:18] megri commented on #644
[These lines in main.js](https://github.com/scala/scala-lang/blob/master/resources/js/main.js#L456-L459) are what's causing the problem. The click event gets eaten and the user is 200ms later redirected forcefully using `location.href`.

I guess the intent is to give _gaq.push time to register the action. Unfortunately the original event is eaten.

[2017-07-12 20:39] megri commented on #644
Would you be fine with removing these lines? It's the quickest fix to solve the issue. As it stands there are other issues with how the script gets added — it doesn't attach to anchors whose href-attribute ends with ".html" for one, which is why the link to http://docs.scala-lang.org/contribute.html works as users expect.

[2017-07-12 21:02] SethTisue commented on #644
perhaps Google Analytics has newer code available...?

[2017-07-12 21:59] megri commented on #644
The library currently used is deprecated in favour of Universal Analytics. More stuff would have to be changed, potentially affecting the tracking in some way. From my end it's hard to tell.

[2017-07-12 22:01] megri commented on #644
Maybe it'd be possible to remove the custom click handler altogether if we use UA instead. [Info here](https://developers.google.com/analytics/devguides/collection/analyticsjs/)

[2017-07-13 10:58] DarkDimius opened #681 "Blog posts are design-less"
Main page looks nice now, but the blog entries are plain.

See,
http://scala-lang.org/blog/2017/07/12/second-dotty-milestone-release.html
which is in the first line of the main page now.

[2017-07-13 10:59] DarkDimius opened #682 "Documentation link gives HTTPS error"
On both chrome and firefox

[2017-07-13 10:59] DarkDimius commented on #681
Other blog posts have the same issue: http://scala-lang.org/blog/2017/07/02/collections-0.2.0.html

[2017-07-13 11:43] heathermiller commented on #681
Yes I know. I'm in the middle of merging the new scala-lang design. I already fixed this. Thanks!

[2017-07-13 11:43] #681 closed

[2017-07-13 11:44] heathermiller commented on #682
I know, a fix is already in-progress.

[2017-07-13 11:47] heathermiller commented on #682
Btw, cc/ @fsalvi (so you know why I pinged you about this earlier today. It's blocking people from getting to the documentation pages, so the sooner we can move to EPFL machines ASAP the better)

[2017-07-13 12:20] fsalvi commented on #682
I changed the URL to http instead of https.
This will let us time to fix the problem...

[2017-07-13 13:53] SethTisue opened #686 "Where do I download old versions?"
http://www.scala-lang.org/download/ doesn't seem to have a link, anymore, where you can get to other versions besides 2.12.2

[2017-07-13 14:01] SethTisue commented on #686
oh, there is this, all the way at the bottom of the page:

<img width="204" alt="screen shot 2017-07-13 at 9 54 13 am" src="https://user-images.githubusercontent.com/161079/28170060-2ca0d29e-67b2-11e7-82c5-e30bf093f7fe.png">

but I really didn't expect to have to "exit" the current context and go all the way to the top level context to find this (and it didn't used to be like that)

[2017-07-13 14:03] SethTisue opened #687 ""Release notes" and "Changelog" links both go to the same place"
http://www.scala-lang.org/download/ has:

<img width="264" alt="screen shot 2017-07-13 at 10 02 24 am" src="https://user-images.githubusercontent.com/161079/28170144-70c446ea-67b2-11e7-812c-5b92ca354430.png">

but then both links go to the same URL, http://www.scala-lang.org/download/changelog/

which is a page I don't recall ever having seen before, and is not all that helpful (it has the major v

[2017-07-13 14:12] heathermiller commented on #687
Yeah, I know. I'm working on redoing the download page now.

Can you tell me how you want me to link to the release notes and changelog?

[2017-07-13 14:13] heathermiller commented on #686
I already fixed this. There was a permalink added that broke everything, and a link to all versions removed from the mockup. It's coming as soon as I commit the rest of the changes to the download page, no worries.

[2017-07-13 14:27] SethTisue opened #688 "improve list of Gitter rooms on front page"
currently:

<img width="792" alt="screen shot 2017-07-13 at 10 26 40 am" src="https://user-images.githubusercontent.com/161079/28171244-c7937934-67b5-11e7-944c-6f6cd9aa0968.png">

the first three are good choices, but then it goes south. @jducoeur suggested including the scala-js room, for example

[2017-07-13 14:32] SethTisue commented on #687
see "the PR of the beast": #666

[2017-07-13 14:39] heathermiller commented on #688
Please make a list and I can add them. These are merely placeholders.

[2017-07-13 14:48] jducoeur commented on #688
A few opinions:

I think scala-js/scala-js is totally appropriate here: it's a very large and open user-centric group, increasingly central to the ecosystem.  It's a good group for people to hit early on.

Possibly also scala-native, but that's still in-development enough that I don't know whether it's appropriate yet.  (I'd probably recommend asking the folks there whether they want to be listed.

[2017-07-13 15:12] heathermiller commented on #686
Should be fixed in #689.

If you're unhappy with the solution in that PR, please reopen. Thanks!

[2017-07-13 15:12] #686 closed

[2017-07-13 15:14] heathermiller commented on #687
Gah.

[2017-07-13 15:15] SethTisue commented on #688
There is already a list at http://www.scala-lang.org/community/, in the Chat Rooms section: scala/scala, scala/center, scala/contributors, scala/moocs, spark-scala/Lobby, scala/job-board.

I'd suggest using this same list, but adding scala-js, since it's nearly 1.0 now.

Heather, you would know best if scala/moocs should be included or not.

I think it's better to keep the list on the site front p

[2017-07-13 15:17] heathermiller opened #691 "We probably need to put back the "additional information" box"
Seems this one got lost too in the proposed redesign.

E.g.,
![screen shot 2017-07-13 at 5 16 55 pm](https://user-images.githubusercontent.com/687163/28173561-19aab10e-67ef-11e7-8e25-231c3779b0c9.png)

[2017-07-13 15:19] heathermiller commented on #509
Fixed in #606

[2017-07-13 15:19] #509 closed

[2017-07-13 15:41] #687 closed

[2017-07-13 16:22] ashawley commented on #691
It's still in the repo just not being included in the page?

https://github.com/scala/scala-lang/blob/10e462e/download/index.md

Just not being included on this template:

https://github.com/scala/scala-lang/blob/10e462e/_layouts/downloadpage.html

Done accidentally in this commit 2e8681f?

[2017-07-13 16:49] SethTisue opened #694 "add minimal information about using RVM to get the right Ruby version"
for Ruby numbskulls like me, this could be a significant getting-started barrier to contributing

at #693 @ashawley suggested being a little less picky about the Ruby version, but @heathermiller  says RVM is the way to go. that sounds plausible, but could someone who knows this stuff a little add a little guidance to the readme?

[2017-07-13 17:38] SethTisue commented on #694
fwiw, I was able to get going using http://docs.railsbridge.org/installfest/osx_rvm

[2017-07-13 17:39] SethTisue commented on #694
(this repo could use a version of https://github.com/scala/scala.github.com/pull/784)

[2017-07-13 17:41] ashawley commented on #694
I'm a Ruby numbskull as well.  There was info on rbenv added in #648, which is what I use.  I assume rvm is the same difference, but I wouldn't know for sure.

[2017-07-13 17:50] SethTisue commented on #694
oh boy, I forgot that rbenv existed and/or that rvm and rbenv were different things.

@heathermiller is either acceptable?

[2017-07-13 19:14] jducoeur commented on #688
I didn't realize that scala/moocs existed.  On the one hand, it's a bit low-volume, but it's *specifically* likely to be interesting to newcomers, so I'd probably argue that it's appropriate for the front page.

And agreed on Spark: it seems to be the number-one vector for people to find Scala these days, so it's worth putting it front-and-center.

[2017-07-13 20:39] ashawley commented on #691
Seems it should be included in the layout of the layout, but it doesn't show up:

https://github.com/scala/scala-lang/blob/10e462e/_layouts/inner-page-parent.html

[2017-07-14 07:45] milessabin commented on #688
I'd like to see typelevel/cats on the front page (and the community list too). It's a good way into an important part of the overall ecosystem. Much more relevant to _general_ users than scala/contributors (which isn't to say that the latter isn't also very important).

[2017-07-14 07:56] heathermiller commented on #688
I have no issue with typelevel/cats being on the frontpage and in the community list.

@milessabin, could you PR it to the community page? That's definitely not contentious. For the front page though, I suppose we should wait for some kind of consensus from others (@SethTisue? Don't know who else?) just to ensure that everyone's OK with this.

[2017-07-14 08:01] milessabin commented on #688
@heathermiller will do ...

[2017-07-14 08:06] heathermiller commented on #694
Yeah, so I am also a Ruby numbskull. RVM seems to be the widely-accepted Ruby version management tool. Though rbenv is gaining traction ([citation](https://blog.metova.com/choosing-a-ruby-version-management-tool)).

The instructions in the README about using rbenv are perfectly fine. Since this article I linked to suggests rbenv as a lighterweight alternative to RVM, we might as well keep the inst

[2017-07-14 08:10] #691 closed

[2017-07-14 08:16] milessabin commented on #688
Done: https://github.com/scala/scala-lang/pull/696.

The header is driven by `_data/chats-forums.yml`, which I guess is what's being discussed in this ticket?

[2017-07-14 08:25] heathermiller commented on #688
Thanks @milessabin! And yep, the content of what's in that list is the topic of discussion indeed.

[2017-07-14 08:37] heathermiller commented on #691
Thank you 💯 @ashawley!!

[2017-07-14 11:12] heathermiller opened #698 "Training feed on front page broken"

[2017-07-14 14:44] heathermiller opened #699 "Broken links (meta ticket)"
Just for keeping track...

- [ ] Footer: geting started
- [ ] Footer: bug reporting guide
- [ ] http://scala-lang.org/documentation/getting-started/
- [ ] http://scala-lang.org/documentation/api/
- [x] http://scala-lang.org/contribute/bug-reporting-guide/
- [x] http://scala-lang.org/resources/img/twitter-logo.png
- [ ] https://gitter.im/scala/scala-parser-combinator
- [ ]  http://scala-lang.org/co

[2017-07-14 15:13] heathermiller commented on #645
Now fixed in redesign: https://www.scala-lang.org/blog/news/

[2017-07-14 15:13] #645 closed

[2017-07-14 15:14] heathermiller commented on #646
Now fixed in redesign (blog link on the top of every page)

[2017-07-14 15:14] #646 closed

[2017-07-14 20:22] heathermiller commented on #694
@SethTisue please reopen if you think there's something we still should do about this (that is, the instructions in the current README suggesting to use rbenv to make sure one is on the correct version of Ruby seem fine)

[2017-07-14 20:22] #694 closed

[2017-07-14 23:05] megri commented on #644
Does anyone have a comment on my PR?

[2017-07-15 15:38] SethTisue opened #700 "add redirect for old code of conduct URL"
it would be nice to have a redirect from http://scala-lang.org/conduct.html to the new URL http://scala-lang.org/conduct/ , since there are a lot of links to the old URL out there

[2017-07-15 15:59] SethTisue commented on #700
(fwiw, I changed the URL in a bunch of Gitter channel topics, but I probably missed some)

[2017-07-15 16:56] heathermiller commented on #700
Feel to get rid of those permalinks. They were added by someone thinking they'd simplify URLs but without realizing that they'd break a ton of existing links into scala-lang. I've been going around one by one and removing them. If you see some, feel free to remove them too.

[2017-07-15 16:58] heathermiller commented on #700
I've been getting rid of permalinks since Thursday. This is one that I missed. So, help welcome!

[2017-07-17 10:11] MasseGuillaume opened #701 "autocompletion search in blog not working properly"
up and down arrow is not selecting the previous/next item

![out](https://user-images.githubusercontent.com/921490/28263885-e3461d2c-6ae8-11e7-9cc9-3c56462a916c.gif)

[2017-07-17 10:14] heathermiller commented on #701
Ooh, good catch! Thanks :)

[2017-07-17 14:13] MasseGuillaume opened #703 "Wrong link for window binary download"
at https://github.com/scala/scala-lang/blob/e38f2769b2fc7f57854b4d2dfd3742a25ff42ad9/resources/js/functions.js#L270

`os == "Windows"`

where `getOS()` returns `windows`

[2017-07-17 15:11] heathermiller opened #704 "Problem with this page? links broken"
On some pages, the "Problem with this page? Please help us fix it!" links are broken.

Related to permalinks? /shrug
http://scala-lang.org/license/
http://scala-lang.org/community/
http://scala-lang.org/contribute/

But works on the blogs/news/announcements pages 🤔
http://scala-lang.org/blog/2017/05/31/first-dotty-milestone-release.html

[2017-07-17 17:10] SethTisue opened #705 ""Getting Started" link is now broken"
on scala-lang.org front page:

<img width="240" alt="screen shot 2017-07-17 at 1 10 15 pm" src="https://user-images.githubusercontent.com/161079/28280312-5b49fc0a-6af1-11e7-941b-8bc3dce7a68e.png">

the "getting started" link goes to http://scala-lang.org/documentation/getting-started/ which doesn't exist

[2017-07-17 17:19] SethTisue commented on #705
a similar report but for a different URL, not sure where from: https://twitter.com/ChrisJamesC/status/885509256350507012

[2017-07-17 19:25] SethTisue commented on #688
well, it's a judgment call, but I have already said "no Cats, no Akka, no Play" on the front page and that's still how I feel about it. (I wouldn't mind if scala/contributors didn't make the cut, even.)

if we want to encourage people to discover additional rooms beyond the first handful, a link to that section of the community page, where there's more space to list lots of rooms, would be appropr

[2017-07-17 21:32] heathermiller commented on #705
Yeah, I'm currently working on https://github.com/scala/scala.github.com/pull/806. When that's done, this link should be reachable.

[2017-07-18 06:35] heathermiller commented on #688
What if we separated the list into two sections?

(1) General Scala, and (2) Core community libs/frameworks?

I understand your goal; scala-lang should be focused on the general/core Scala gitter channels, but Akka, Spark, Play, and Typelevel are pretty important community gitter channels. It might help people arriving at the page to know that there are very active, more focused gitter channels th

[2017-07-18 11:42] SethTisue commented on #688
sure

[2017-07-18 15:28] SethTisue commented on #644
@megri sorry for the delayed feedback. we're a bit swamped now with fallout from the recent merge of the big redesign.

proposal:
* let's go ahead and merge this
* but also open a new ticket on upgrading to analytics stuff that isn't deprecated

if there isn't any further feedback, I'll hit "merge" in a few days

[2017-07-18 15:48] #644 closed

[2017-07-18 15:52] heathermiller commented on #688
👍 Ok, I'll do this then. Thanks. And I'll add typelevel/cats to it :)

(We can add other major community gitter channels later on as well.)

[2017-07-18 16:22] SethTisue commented on #644
@megri would you mind opening the ticket, since it sounds like you already did some investigation?

[2017-07-18 16:23] heathermiller commented on #644
No worries, I'll take care of it. I've got to fix analytics stuff anyway

[2017-07-18 16:23] heathermiller opened #707 "Review analytics"

[2017-07-19 01:22] Blaisorblade opened #708 "[minor] Google linking to 2.5.1 docs? SEO issue?"
That's maybe just a small disturbance in the force (or a link from some crazily popular blog post), but was just led to http://www.scala-lang.org/api/2.5.1/scala/List.html by googling `:::`.
More importantly, does this mean scala operators are somehow googlable? (Yes, sorry, I have NO clue on SEO and it must show, have mercy upon me).

Links:

https://www.google.it/search?client=opera&q=list+%3A%3

[2017-07-19 06:32] ChrisJamesC opened #709 "Links with /documentation/documentation not found"
I don't know if this is captured in other issues but links from the getting [started page](https://www.scala-lang.org/documentation/getting-started.html) redirect to /documentation/documentation/... for example: https://www.scala-lang.org/documentation/documentation/getting-started-sbt-track/getting-started-with-scala-and-sbt-in-the-command-line.html

[2017-07-19 13:27] SethTisue opened #710 "events page is paginated but doesn't need to be"
http://www.scala-lang.org/events/

I have to click through to page 2 to find out that Scala Exchange is coming in December

<img width="137" alt="screen shot 2017-07-19 at 9 26 02 am" src="https://user-images.githubusercontent.com/161079/28369027-4eec5b14-6c64-11e7-9c4f-13ca7d1b0d3a.png">

I had visited the page several times before I even realized that there was a December 2017 event it wasn't sh

[2017-07-19 15:24] SethTisue commented on #707
details at #644

[2017-07-19 15:32] SethTisue commented on #710
intersects with #658

[2017-07-19 15:38] martijnhoekstra commented on #699
http://docs.scala-lang.org/tutorials/FAQ/ contains broken links too

[2017-07-20 23:30] martijnhoekstra commented on #699
A crawl additionally gives me

* https://www.scala-lang.org/contribute/
* https://www.scala-lang.org/documentation/getting-started-intellij-track/testing-scala-in-intellij-with-scalatest.html
* https://www.scala-lang.org/documentation/getting-started-sbt-track/getting-started-with-scala-and-sbt-in-the-command-line.html
* https://www.scala-lang.org/download/changelog.html
* https://www.scala-lang.o

[2017-07-24 16:50] SethTisue opened #714 "Scala downloads: "All Available Versions" doesn't include recent versions"
http://scala-lang.org/download/all.html claims to be "ALL AVAILABLE VERSIONS" and "This page contains a comprehensive archive of previous Scala releases" but it isn't, e.g. 2.11.11 is missing

[2017-07-27 18:44] SethTisue commented on #714
cc @retronym (who's doing the 2.12.3 release)

[2017-07-28 05:16] som-snytt commented on #714
I commented https://gitter.im/scala/contributors?at=5979140f89aea4761dd90b23

Then Ichoran noted that "fancy color" denotes grades of colored diamonds.

I suggested "fancy red", the highest and rarest grade, for future Scala t-shirts.

Or "vivid pink" for Scalabridge benefit.

My daughter used to have a pink "Superman" shirt from Old Navy. That was a few years before Supergirl. It was a big hit at

[2017-07-28 05:20] som-snytt commented on #714
Also, the line of text on the page does say "previous", but it would be more useful just to list all versions, sorted by timeline. I think the `ScalaVersion` class already knows how to order itself.

[2017-07-28 08:58] janekdb commented on #699
On http://www.scala-lang.org/contribute/ clicking "COMPILER/LANGUAGE" gives `Not Found`

http://www.scala-lang.org/contribute/guide/#larger-changes-new-features

[2017-07-30 09:17] heathermiller commented on #714
Since the Lightbend Scala team manages releases, I assume whoever is in charge of pushing the release button on a new version of 2.12.x or 2.11.x should update the "all available versions of Scala" page as part of the release process. Should probably be added to the release todos checklist, no?

[2017-07-30 10:03] retronym commented on #714
Yes, that's right. We have [tools](https://github.com/scala/make-release-notes) to generate the patch to this site. We need to adapt them to the refactored layout here, and double check our checklist. I did a few things manually for 2.12.3, but plan to take another pass over the site and the tooling to cleanup any inconsistencies and improve the automation level.

[2017-07-30 10:04] retronym commented on #714
One thing I was wondering, is whether it would be feasible to dynamically generate the "all previous releases" page. I'm not sure about the limits of Jekyll in this regard.

[2017-07-31 09:18] #709 closed

[2017-07-31 15:07] ChrisJamesC commented on #709
Thanks!

[2017-08-01 19:20] SethTisue commented on #714
I believe that would mean pushing the logic into client-side JavaScript. Doesn't seem worth it here.

[2017-08-09 19:17] SethTisue opened #722 "code not styled using monospaced font"
seen at e.g. http://www.scala-lang.org/news/2.12.0/ :

<img width="384" alt="screen shot 2017-08-09 at 12 17 23 pm" src="https://user-images.githubusercontent.com/161079/29139710-b8014e54-7cfc-11e7-8526-e4be3477e4ea.png">

perhaps it needs the same fix that was applied over at the docs site for https://github.com/scala/scala.github.com/issues/839 ?

[2017-08-10 02:28] jiminhsieh commented on #529
I could not found this issue in local environment. Since Scala website didn’t use retina.js anymore. Maybe this ticket could be close safely?

[2017-08-10 02:37] #529 closed

[2017-08-10 09:46] #722 closed

[2017-08-10 09:46] heathermiller commented on #722
Thanks for letting me know I missed it here too! Should be fixed now.

[2017-08-11 14:51] heathermiller commented on #714
I think this was fixed in #723 (thank you @zaneli!!). Though @retronym, I presume you'll still have to update where you guys place these files in your release process.

[2017-08-11 14:52] heathermiller commented on #714
Closing this for now, reopen if there's something we need to do in this repo.

[2017-08-11 14:52] #714 closed

[2017-08-16 18:17] dehun opened #727 "links at contribute page are broken"
http://scala-lang.org/contribute/
contribute section contains all broken links.
for example:
http://scala-lang.org/contribute/documentation/ - not found
http://scala-lang.org/contribute/guide/ - not found

[2017-08-16 19:05] alejopa opened #728 ""Scala code of Conduct" file not found on scala-lang.org"
You get "page not found" when trying to access the code of conduct.

[2017-08-16 19:16] SethTisue commented on #728
where is the broken link? the link on the front page works.

[2017-08-17 09:51] heathermiller commented on #728
Same here, I can't seem to find a broken link to the Code of Conduct anywhere, neither on scala-lang.org or docs.scala-lang.org.

Could you tell us where you saw this? We're happy to fix this right away if you can point us to the location of the problem.

Thanks!

[2017-08-17 13:17] #727 closed

[2017-08-17 13:18] heathermiller commented on #727
Thanks for reporting, @dehun! And thank you @jiminhsieh for the quick fix! ❤️

[2017-08-17 14:26] alejopa commented on #728
Sure, in https://www.scala-lang.org/community/ there's a link to: https://www.scala-lang.org/conduct.html
and that page is not found.
Here you can see the link
![image](https://user-images.githubusercontent.com/4819785/29417210-c7fabb36-833e-11e7-8bbf-fdcb11dac3f4.png)

![image](https://user-images.githubusercontent.com/4819785/29417158-9ebdb458-833e-11e7-9783-5d650408f851.png)

[2017-08-17 14:29] heathermiller commented on #728
Ok, got it. Thanks for sharing! I'll take care of it now :)

[2017-08-17 14:35] alejopa commented on #728
Great! thanks.

[2017-08-17 14:49] #728 closed

[2017-08-28 12:54] #705 closed

[2017-08-29 03:07] jiminhsieh commented on #704
Hi @heathermiller https://github.com/scala/scala-lang/pull/725 should fix this issue.

[2017-08-29 11:50] #704 closed

[2017-08-29 11:51] heathermiller commented on #704
Thanks for the ping, @jiminhsieh!

[2017-09-07 17:09] ashawley opened #738 "Add jekyll_strict_front_matter gem"
https://github.com/jmhooper/jekyll_strict_front_matter

Or alternatively, just update to Jekyll 3.5

[2017-09-07 17:11] heathermiller commented on #738
Good idea. Let's see if we can update to Jekyll 3.5... Looking into it now.

[2017-09-11 22:55] SethTisue commented on #694
lol https://twitter.com/whereistanya/status/900244958707404801

[2017-09-12 20:46] SethTisue opened #747 "Steps on getting started page need clarification"
at https://github.com/scala/bug/issues/10499 @cfjedimaster writes:

[2017-09-12 21:25] #700 closed

[2017-09-12 21:27] SethTisue commented on #700
this is a case where a permalink was apparently removed, rather than added. I hope 4b07f9ba705229af0f5f810fb5de91c5f440a8ce is the right way to keep `/conduct/` as the canonical URL but also keep the `/conduct.html` link working, since I think both URLs are now floating around out there

[2017-09-13 20:13] Philippus commented on #747
Looks like you missed the following step in 'create the project':
"When prompted, name the application hello-world. This will create a project called “hello-world”.
'hello-world-template' is the default which is applied if you don't name the application and just hint 'enter'.

[2017-09-14 14:20] ashawley commented on #738
Fixed by Heather in #740

[2017-09-14 14:20] #738 closed

[2017-09-21 08:58] retronym commented on #703
[code]

[2017-09-21 11:44] #703 closed

[2017-09-28 19:52] SethTisue opened #755 "site recommends using nonexistent scala/scalatest-example.g8 template"
somebody at https://stackoverflow.com/questions/46458359/sbt-new-scala-scalatest-g8-fails-on-transportexception ran afoul of this

[2017-09-28 20:54] chasrmartin commented on #755
That was me. Notice my text is mistyped, and observe the screenshot, which is looking for scalatest-example.g8.
![screenshot 2017-09-27 18 09 52](https://user-images.githubusercontent.com/86798/30989974-dbe5c994-a45c-11e7-8861-9fff1b3ccb3c.png)

[2017-09-28 21:29] SethTisue commented on #755
@chasrmartin issue title updated

[2017-09-28 21:59] chasrmartin commented on #755
Thanks. Are we certain the template doesn't exist? The problem exhibits at authentication to the repo.

[2017-10-02 18:01] SethTisue commented on #698
confirmed that the training added in #754 shows up on the site

[2017-10-02 18:24] SethTisue commented on #710
this bit me again recently — I didn't see Scala Exchange 2017 listed and thought it was simply missing. doh, it was on page 2.

[2017-10-02 20:19] #710 closed

[2017-10-03 12:33] heathermiller commented on #698
This still isn't fixed, unfortunately. There are a ton of training events that Lightbend publishes to a feed that would normally show up in this feed... So I'm afraid htat #754 didn't fix the issue (at least as I understood it, and I admit I offered zero detail about it. I'm sorry!)

https://github.com/scala/scala-lang/pull/754#issuecomment-333827084

[2017-10-03 12:42] heathermiller commented on #698
This is the feed we used to be fetching btw... https://www.lightbend.com/subscription/training.json

[2017-10-03 12:44] heathermiller commented on #698
And this is where we were doing the fetching:
https://github.com/scala/scala-lang/blob/master/resources/js/main.js#L428

(Like I said, I've not looked into it yet. But this is what I had meant when I opened this ticket)

[2017-10-03 12:51] ashawley commented on #698
Ahh sorry, I didn't understand what was meant by broken.  Now I do.

[2017-10-03 12:52] heathermiller commented on #698
That was my fault, I'm sorry! I should've been way more descriptive than I was 🙈

[2017-10-03 16:09] SethTisue commented on #698
I'll take it up with somebody at Lightbend.

[2017-10-03 21:46] SethTisue commented on #698
I was able to fix this myself in 35c0bb2143247f35c051239fd88ad994c39583eb

[2017-10-04 06:57] heathermiller commented on #698
Call me crazy, but it still seems broken to me. None of those feeds from the Lightbend training feed seem to be coming through:
<img width="1277" alt="screen shot 2017-10-04 at 8 56 00 am" src="https://user-images.githubusercontent.com/687163/31163297-19c89c94-a8e2-11e7-9694-daca72d36905.png">

[2017-10-04 06:58] heathermiller commented on #698
(I think this is an issue on our end somewhere btw. I'm not sure this is something Lightbend can fix.)

[2017-10-04 15:12] SethTisue commented on #698
my change did fix _something_ — before, nothing showed up on the right. now, that "Scala Language — Professional" entry shows up

but yes, you are right, it still isn't working. https://www.lightbend.com/subscription/training.json has more than just that one item. so a guess at the remaining bug, now, is that only the first item in the JSON file is shown.

[2017-10-04 15:14] ashawley commented on #698
Heather drives a hard bargain! 😃

Looks like `main.js` was removed from `footer.html` in 2bdcd90f.  Including `main.js` again causes  errors to be thrown.  Maybe just take the training (and Scala events?) bits and move them from `main.js` to `function.js`?  There's a bit of AJAX work to get it going again after that.

[2017-10-10 13:03] abellgithub opened #761 "Getting started pages should be clear about JDK version compatibility"
Installing the recommended scala version (2.11.8 for Mac) needs JDK 1.8.  This is stated in the "getting started" docs, but it's not made clear that later versions (JDK 1.9, for example) doesn't work (and gives a non-obvious error).  The docs should say this and tell people how to verify and switch to the correct JDK on their platform.

[2017-10-15 22:37] SethTisue commented on #761
where is 2.11.8 recommended? that sounds like a problem in itself, the recommended version should be 2.12.3

2.11.8 isn't even the latest 2.11.x release — that would be 2.11.11

[2017-10-15 22:38] SethTisue commented on #643
new design has "click the boxes below to see Scala in action!"

[2017-10-15 22:38] #643 closed

[2017-10-30 21:05] SethTisue opened #770 "can't add Scala Matsuri 2018 to events page"
I tried at #769 but it makes the events page go blank. it seems to be a site bug having to do with the 2017->2018 changeover. no clue how/why

help!

[2017-10-30 22:14] outkaj commented on #747
I just went through the "getting-started" page step by step to see if this bug still occurred. It did not, and it looks like the clarification mentioned by @Philippus has been added, so maybe this can now be closed?

[2017-11-01 10:19] Philippus commented on #755
it seems to be here: https://github.com/travissarles/scalatest-example.g8

[2017-11-01 12:47] Philippus commented on #422
this can be closed, was fixed in https://github.com/scala/scala-lang/pull/545 I think

[2017-11-01 12:57] Philippus opened #774 "Getting Started link in footer is different from the other"
there are two links to 'Getting Started'.
One is from the footer which points to: http://www.scala-lang.org/documentation/getting-started.html
And one is through 'Documentation' -> 'Getting Started' which points to http://docs.scala-lang.org/getting-started.html
which one is correct?

[2017-11-01 22:07] #422 closed

[2017-11-01 22:07] SethTisue commented on #422
thanks @Philippus for your attention to this and other tickets recently!

[2017-11-06 10:35] NightFantomJ2 opened #775 "getting-started-intellij-track inconsistencies"
I'm on linux, can someone confirm these issues exist on windows/mac/... intellij installations too?

### In https://www.scala-lang.org/documentation/getting-started-intellij-track/getting-started-with-scala-in-intellij.html :
in "[Writing Code](https://github.com/scala/scala-lang/blob/master/documentation/getting-started-intellij-track/getting-started-with-scala-in-intellij.md#writing-code)" it sa

[2017-11-06 16:25] colindean commented on #761
I did a quick search for `2.11.8` just now off of master and came up only with version lists on

1. http://docs.scala-lang.org/api/all.html
2. http://docs.scala-lang.org/reference.html

[code]

Maybe @abellgithub's discovery has been addressed in the meantime.

[2017-11-06 22:00] #770 closed

[2017-11-09 00:36] SethTisue opened #779 "events page should show what city/country the event is in"
don't you think...?

when I look at http://scala-lang.org/events/ , I basically always want to know where the thing is

we have this information in the `location` field, we just don't display it

[2017-11-14 21:08] Philippus commented on #779
we used to display it, but https://github.com/scala/scala-lang/pull/754 broke this.

[2017-11-15 19:48] #779 closed

[2017-11-30 18:57] adriaanm commented on #631
Similar for the jira filters linked from http://scala-lang.org/contribute/.

Let's try to be free from stale jira links before the end of the year. It's off-putting for a contributor to be presented with outdated information while they're looking for things to help out with

[2017-11-30 20:36] Blaisorblade opened #796 "Bloop performance numbers, speedup calculations"
Hi @jvican! The bloop announcement looks cool! But I was a bit surprised by some (EDIT) text, so I clicked the “help us fix it” link and got here. Quoting: https://github.com/scala/scala-lang/blob/master/blog/_posts/2017-11-30-bloop-release.md

Summing speedups (or discounts) seldom works, because those percentage usually have different bases.

If you consistently take 1.4x speedup as “old time =

[2017-11-30 23:45] jvican commented on #796
Hey @Blaisorblade, indeed this is a stupid error, a proof that you should not write blog posts under stress. I fixed the percentage by hand but I will reply to this ticket more succinctly tomorrow.

[2017-12-03 22:26] Blaisorblade commented on #796
Hey—don’t worry, I’ve submitted worse typos under deadlines :-|. Thanks for fixing the typo! (Not sure about the speedups in the table though, but maybe that’s me?).

[2017-12-09 18:19] akrisanov commented on #774
I just started to learn Scala and decided to read the official website first. I found `Documentation` block in the https://www.scala-lang.org/ footer:

![image](https://user-images.githubusercontent.com/238505/33798136-dce6e7fc-dd13-11e7-9817-ca8227faeec8.png)

That link points on [Getting Started](http://www.scala-lang.org/documentation/getting-started.html) page where I was finishing step-by-ste

[2017-12-11 21:52] SethTisue commented on #519
resolved by #658

[2017-12-11 21:52] #519 closed

[2017-12-12 20:30] SethTisue commented on #796
@jvican ping

[2018-01-08 17:55] mghildiy commented on #775
Hi, in windows 10 IntelliJ installation too I need to
right click the "scala" folder in src/main/ and select New => Scala class

[2018-01-08 18:12] mghildiy commented on #775
I have made the change in getting-started-with-scala-in-intellij.md and committed it. I have also created the pull request:
https://github.com/scala/scala-lang/pull/806

So I hope someone would review it.

[2018-01-09 21:09] jvican commented on #796
I think I’m going to hire you as my personal assistant @SethTisue, thanks for the reminder!

To address your last comment @Blaisorblade, the raw numbers for spark and Scala are the correct, the percentage was derived from it. So if it seems that bloop is faster than what we announced, that’s even better. We’ve been working hard on stable benchmarks infrastructure and automatic benchmarking, si hop

[2018-01-09 21:09] #796 closed

[2018-01-17 21:30] SethTisue commented on #508
closing for inactivity. we can reopen if someone thinks is this still a problem

[2018-01-17 21:30] #508 closed

[2018-01-17 21:30] SethTisue commented on #372
#606 has been merged.

[2018-01-17 21:30] #372 closed

[2018-01-17 21:32] SethTisue commented on #79
at the time, #606 hadn't been merged yet, but now it has.

[2018-01-17 21:32] #79 closed

[2018-01-17 21:33] SethTisue commented on #535
@OlivierBlanvillain any chance I could interest you in porting https://github.com/scala/docs.scala-lang/pull/947 to this repo...?

[2018-01-17 23:10] ebruchez commented on #372
I can confirm that it is responsive now

[2018-01-19 19:13] SethTisue commented on #688
this came up again at #798

[2018-01-19 19:27] SethTisue commented on #688
I'm working on a PR on this right now.

[2018-01-19 19:51] #688 closed

[2018-01-19 19:59] smarter commented on #755
This issue is tagged "spree" but since it seems the fix involves moving a repo to the scala organization, it's not fixable by the community, only an admin of the scala organization on github can fix it.

[2018-01-19 20:16] ashawley commented on #761
Maybe when sbt 0.13.17 drops (next week?) there should be a blog post about the current Java 9 support in Scala-land, and the long-term plans wrt Java 9 and later...?  Then link to the blog post from the download page?

[2018-01-19 20:17] ashawley commented on #761
Just saw @SethTisue suggested a longer-term document on scala/docs.scala-lang#1000

[2018-01-22 20:59] SethTisue commented on #536
mission accomplished

[2018-01-22 20:59] #536 closed

[2018-02-04 06:57] miller-time commented on #755
Could the [Testing Scala](http://scala-lang.org/documentation/getting-started-sbt-track/testing-scala-with-sbt-on-the-command-line.html) page be updated in the meantime? Took me a while looking around to even figure out why I was unable to create the project.

Perhaps something along the lines of the Stack Overflow suggestion?

* `sbt new scala/scala-seed.g8`
* add the test classes manually (copy

[2018-02-05 23:53] SethTisue commented on #631
http://scala-lang.org/contribute/ could link to the `good-first-issue` label. context: https://contributors.scala-lang.org/t/help-wanted-identifying-good-first-issues-in-scala-bug/1571

[2018-02-05 23:53] SethTisue commented on #631
(I've un-assigned myself to encourage community help on this)

[2018-02-05 23:54] SethTisue opened #831 "rename "community" label to "help wanted""
`help wanted` is a GitHub standard now. any objections?

(both here and in the docs.scala-lang repo)

[2018-02-05 23:55] SethTisue commented on #631
but also, PRs with incremental improvements are very much welcome

[2018-02-06 01:39] SethTisue commented on #831
(...mixed feelings about the actual usefulness of such a label, since basically any open, unassigned issue should be considered "help wanted"...)

[2018-02-14 18:29] #631 closed

[2018-02-15 23:19] SethTisue commented on #831
done, also renamed "spree" to "good first issue", also a GitHub standard.

[2018-02-15 23:19] #831 closed

[2018-02-15 23:20] SethTisue commented on #707
@heathermiller is this available for someone in the community to pick up and run with...?

[2018-02-15 23:21] SethTisue commented on #655
@Philippus should we close this now?

[2018-02-15 23:22] SethTisue commented on #682
this was fixed some time ago.

[2018-02-15 23:22] #682 closed

[2018-02-15 23:22] SethTisue commented on #699
@Philippus should we close this now?

[2018-02-15 23:23] SethTisue commented on #535
@OliverBlanvillain @Phillippus or anyone else watching this repo interested in tackling this...? it's super high value. Olivier has already done most of the heavy lifting on setting up htmlproofer, and @Phillippus has already done most of the work of fixing broken links.

[2018-02-15 23:25] SethTisue commented on #593
assuming this got fixed by #606. if not let us know if we should reopen

[2018-02-15 23:25] #593 closed

[2018-02-15 23:27] SethTisue commented on #761
once https://github.com/scala/docs.scala-lang/pull/1005 is merged we'll have something to link to

[2018-02-15 23:30] SethTisue commented on #831
did the same over at https://github.com/scala/docs.scala-lang

[2018-02-16 07:22] jarrodwb commented on #535
It's been a while since I looked into this Repo. Luckily I have a little time today to get back up to speed.

I will let you know what I find. 🙂

[2018-02-16 09:01] OlivierBlanvillain commented on #535
I won't have time to finish it, but here is a work in progress branch if someone wants to pick it up:

https://github.com/OlivierBlanvillain/scala-lang/commits/cleanup-links

The message in the latest commit shows that they are currently 320 broken links according to htmlproofer.

[2018-02-16 09:44] Philippus commented on #535
check out https://github.com/scala/scala-lang/pull/838
`bundle exec htmlproofer ./_site/ --only-4xx --empty-alt-ignore --allow-hash-href --url-ignore "/files/,/api/,https://github.com/username"` now gives just a few broken links.

[2018-02-16 09:50] Philippus commented on #699
yes, I think all/most of these have been addressed already.... the validator.w3.org link looks pretty clean to me.

[2018-02-16 09:54] Philippus commented on #331
fixed in https://github.com/scala/scala-lang/pull/828

[2018-02-16 09:58] Philippus commented on #775
fixed by https://github.com/scala/scala-lang/pull/806

[2018-02-16 10:10] OlivierBlanvillain commented on #535
Nice! Still, I think there is no reason to have broken links to `/files/` and `/api/`. After fixing a few obvious ones I'm at 66 failures on the branch linked above.

[2018-02-16 10:28] Philippus commented on #535
to me it looks like you're not working from the most recent master branch though...

[2018-02-16 13:13] OlivierBlanvillain commented on #535
Indeed, I messed up my rebase somehow... @Philippus Thanks for doing most of the hard work! PR with zero broken links: #840

[2018-02-16 14:48] SethTisue commented on #699
sweeeeeeet

[2018-02-16 14:48] #699 closed

[2018-02-16 14:49] #331 closed

[2018-02-16 14:49] #775 closed

[2018-02-16 14:54] #535 closed

[2018-02-16 14:54] SethTisue commented on #535
🎉

[2018-02-16 20:53] SethTisue commented on #755
@miller-time yes please!

[2018-02-16 21:41] smarter commented on #755
Why not just create a scalatest-example.g8 repo in the scala organization that has the same content as https://github.com/travissarles/scalatest-example.g8 ? I would have done that weeks ago and closed this issue if I had the rights to do it.

[2018-02-16 21:57] SethTisue commented on #755
okay. sorry.... to be honest, I'm just being lazy here and wishing somebody else would deal with it figuring out what the right thing is. every time this pops up I forget all the context and figuring it all out again from square one is depressing.

sounds like you're sure what's needed, so I've gone ahead: https://github.com/scala/scalatest-example.g8 . you've got write access in case more tweaks

[2018-02-16 22:09] smarter commented on #755
I think so, however this template now needs to be maintained either by Lightbend or the Scala Center, just like https://github.com/scala/scala-seed.g8 is. This means updating the version numbers in https://github.com/scala/scalatest-example.g8/blob/master/src/main/g8/build.sbt from time to time.

[2018-02-16 22:09] smarter commented on #755
Ah I see you made a PR to bump version, cool :).

[2018-02-16 22:10] #755 closed

[2018-02-16 22:11] SethTisue commented on #755
or the community, or by some chaotic, ragtag combination of all three :-)

[2018-02-16 22:22] smarter commented on #755
The problem when everyone is responsible is that no one is responsible.

[2018-02-16 22:55] SethTisue commented on #755
indeed

[2018-02-21 11:42] #774 closed

[2018-02-21 22:25] SethTisue commented on #761
http://docs.scala-lang.org/overviews/jdk-compatibility/overview.html

[2018-02-22 09:28] jarrodu opened #844 "Updating Gems in Travis build defeats the point of Gemfile.lock"
I suggest removing https://github.com/scala/scala-lang/blob/bb449d71730424b291f229737a0b4def000aac0a/.travis.yml#L16.

Then we update the site when we need to using `bundler update` and committing the Gemfile.lock file.

[2018-02-22 11:07] ashawley commented on #844
Agree.  There's no need to do this.

[2018-02-22 13:30] #844 closed

[2018-02-23 12:08] #553 closed

[2018-02-24 08:54] jarrodu commented on #463
I am still thinking that the initial work needs to be done by Lightbend when the artifacts are uploaded to the server. When the hashs are available on the download server then links to them can be added to the download pages.

[2018-02-24 09:00] jarrodu commented on #515
I think this issue might be out of scope for this repository. The API docs are not maintained in this Jekyll project. Maybe this should be moved to [https://github.com/scala/bug](https://github.com/scala/bug).

[2018-02-27 01:20] SethTisue commented on #553
fixed by https://github.com/scala/scala/pull/6295, but the fix won't show up until 2.12.5 is released

[2018-02-27 01:24] SethTisue commented on #463
well, the scripts that do that are public and in version control, so anyone can do a pull request against them. but there's still truth in your statement, in that Lightbend folks will be needed to help test.

we're currently in the process of attempting to relocate our publishing process from Jenkins to Travis-CI (free or hosted, not sure which yet). let's come back to this once that effort has ei

[2018-02-27 21:19] ashawley opened #849 "Stale XML feed"
I've been meaning to report that the main feed hasn't been updating since October, but suddenly it updated when the MOOC edx announcement was made in #847 .

http://scala-lang.org/feed/index.xml

The blog feed is fine and is still updating:

http://scala-lang.org/feed/blog.xml

I predict the top-level `_posts` directory needs to be merged in to the `news/_posts` (and maybe `blog/_posts`) directori

[2018-02-28 09:52] martijnhoekstra opened #850 "Documentation needs improvement"
This is a vague ticket written at the request of @jvican (https://gitter.im/scala/center?at=5a95acdbe4d1c63604a0e5bb)

Obviously I'm not the final arbiter of what constitutes good documentation. These are just things that I feel are lacking in the current documentation. From my perspective the documentation has improved a lot over the last year or so - recently, someone even qualified the document

[2018-02-28 17:40] SethTisue commented on #850
lots of good ideas here, thanks Martijn! I hope people will dig through this and find specific things they're interested in tackling.

[2018-03-02 09:23] Blaisorblade opened #851 "Googling scala language specification leads to 2.11 version"
Googling scala language specification leads to https://www.scala-lang.org/files/archive/spec/2.11/ as first result, thankfully people on scala/contributors pointed me to https://www.scala-lang.org/files/archive/spec/2.12/ (I was running into a spec bug which is already fixed). Maybe some SEO can fix this?

Alternatively, https://www.scala-lang.org/files/archive/spec/2.11/ could add a warning point

[2018-03-04 17:05] SethTisue commented on #850
note that all these things (tour, guides, FAQ) actually live over in https://github.com/scala/docs.scala-lang, not in this repo

I'm labeling as "good first issue" since there are multiple good first issues here that somebody could tackle

[2018-03-18 03:00] SethTisue commented on #761
current status: Scala 2.11.12 and 2.12.4 have basic Java 9 compatibility, and so do sbt 0.13.17 and 1.1.1

[2018-03-18 03:03] SethTisue commented on #761
I've changed the title of the ticket since the situation has changed somewhat.

[2018-03-21 14:33] tindzk opened #860 "Mention native target on landing page"
As per [my comment](https://github.com/scala/scala-lang/pull/854#issuecomment-374941877) on the changes to the landing page, I would suggest to also mention Scala Native.

This issue is related: https://github.com/scala/scala-lang/issues/67

[2018-03-21 15:14] SethTisue commented on #860
/cc @densh

the hesitation on this so far has been that Scala Native is substantially less mature than Scala.js.

in addition to the wording at the top, there's also this section:

<img width="459" alt="screen shot 2018-03-21 at 11 13 40 am" src="https://user-images.githubusercontent.com/161079/37718388-f2ec9f76-2cf8-11e8-8360-adda3b8ad464.png">

[2018-03-21 15:15] SethTisue commented on #67
new ticket on Scala Native specifically: #860

[2018-03-21 15:17] SethTisue commented on #860
an older ticket on this (but broader) is https://github.com/scala/scala-lang/issues/67

my own take on this is that it's too soon to give Scala Native equal billing, but perhaps we could find some middle ground. (especially with that "with more backends on the way" which is an undersell; Scala Native does exist.)

[2018-03-21 15:19] SethTisue commented on #67
I think this ticket is too broad to leave open indefinitely. Some pieces have happened, like Scala.js getting much higher billing than it used to have.

I invite people to open more specific tickets like #860 on changes in this area they would like to see — or better yet, pull requests!

[2018-03-21 15:19] #67 closed

[2018-03-21 15:20] SethTisue commented on #655
we have automated link checking now, as part of PR validation.

[2018-03-21 15:20] #655 closed

[2018-03-21 15:22] SethTisue commented on #747
I haven't re-reviewed this, but, closing based on @outkaj's comment.

[2018-03-21 15:22] #747 closed

[2018-03-21 17:20] tindzk commented on #860
I do not think it is wrong to attract developers to Scala Native at this stage. Based on my limited experience, Scala Native already works pretty well for regular Scala code, although library support is still spotty. How about including the Scala Native logo with a clearly visible sign that says "beta"? Then, the remark "with more backends on the way" could be removed.

[2018-03-21 19:20] Philippus commented on #655
I think the issue is about incoming links that used to work, like for example the one mentioned on ycombinator. We could add redirects for links that change or are removed, but that would require a lot of effort I think.

[2018-03-21 19:23] Philippus commented on #708
Google now leads me to 2.12.3, so that's better I guess

[2018-03-21 21:14] SethTisue commented on #655
Ohhh... was skimming tickets too fast. But I’m tempted to leave it closed since so much time has passed since the big site overhaul

[2018-03-22 14:18] ashawley commented on #860
Things like Scala.js and native are nice things to brag about, but there is a risk with suggesting them to newcomers.  My experience is that they are expert tools and not for the faint of heart.  It's not a polished or well-supported system like Scala on the JVM is.

[2018-03-24 12:30] Blaisorblade commented on #708
Happy to close this as fixed, even though I'm not sure if there's any other SEO to do.

[2018-03-24 12:30] #708 closed

[2018-03-24 14:46] hepin1989 opened #863 "HTTPS issue。"
Should redirect `http://scala-lang.org/` to `https://scala-lang.org/`。

[2018-03-25 16:57] propensive commented on #860
I would be in favor of including Scala Native in the list of backends, but maybe with a "beta" (or similar) label. Given the current nature of the market, I don't think it makes sense to keep quiet about things like this. The current text "WITH MORE BACKENDS ON THE WAY" won't appeal to anyone: almost everyone will be interested in a specific backend.

[2018-03-25 20:36] heathermiller commented on #860
I think this is a call for @densh to make. We should not be deciding the readiness of his project for him.

[2018-03-26 10:35] densh commented on #860
I don't mind Scala Native having a "beta" sticker of some sort at all. It did not reach 1.0-level of stability yet.

The line "more backend on the way" conveys no information. It's going to *only* be understood by people who already know about SN, and the rest will not grasp what it alludes to.

[2018-03-26 13:31] mattkohl opened #865 "Add meta-property tagging"
Adding a few lines of `<meta property="foo"/>` to [headertop](https://github.com/scala/scala-lang/blob/d777f929976729a75a1d296d02751522a3f5abfa/_includes/headertop.html) would improve the way links to the site are rendered in social media.

[2018-03-29 16:16] propensive commented on #860
Implemented with #867.

[2018-03-29 19:29] SethTisue opened #868 "dead SIP links in this repo need updating"
seen in recent PR validation runs:

[code]

because https://github.com/scala/docs.scala-lang/issues/872 , as noted by @Philippus

we should never have had ephemeral information like `pending` in these URLs in the first place :-/

[2018-03-30 10:50] tindzk commented on #860
Looks great! Thanks, @propensive.

[2018-03-30 10:50] #860 closed

[2018-04-06 19:15] SethTisue commented on #865
would you like to submit a pull request with the suggested change...?

[2018-04-06 20:12] #868 closed

[2018-04-11 16:36] SethTisue opened #875 "new blog posts always fail PR validation"
seen at e.g. https://github.com/scala/scala-lang/pull/872, and I recall seeing it on other similar pull requests

it's a chicken-and-egg problem. perhaps easily fixed? needs investigation

[2018-04-13 21:17] kubukoz opened #876 "Concurrency sample uses deprecated `future` function"
[code]

from the sources:
[code]

The `future` usage should probably be replaced with `Future { }` in this example (and its description). If you think it's a good idea, I can prepare a PR in no time :)

[2018-04-14 19:06] SethTisue commented on #876
yes please!

[2018-04-15 09:36] kubukoz commented on #876
I can see that the correct version is used in `_includes/bullet-concurrency-distribution.html` since https://github.com/scala/scala-lang/pull/642 - why are there two places for these snippets?

Anyways, I should have a PR with a fix for this within minutes :)

[2018-04-15 11:13] kubukoz commented on #876
It's ready in #878 :)

[2018-04-19 21:26] #875 closed

[2018-04-19 21:27] SethTisue opened #881 "http://pgp.mit.edu/ causes intermittent htmlproofer failures"
perhaps we can exempt the domain from htmlproofer?

[2018-04-19 21:27] SethTisue commented on #875
separate ticket on this: #881

[2018-04-20 17:12] #865 closed

[2018-04-22 10:47] #876 closed

[2018-04-22 10:56] SethTisue commented on #863
I suspect this isn't possible for an open-source contributor to do.

@fsalvi is this within your area of expertise...?

[2018-04-22 16:48] NthPortal commented on #863
This seems like something the server admin needs to handle

[2018-04-23 07:54] fsalvi commented on #863
Yes, I can do that. I will check first there are no side effects if we switch to https...

[2018-04-26 08:48] fsalvi commented on #863
Ok, done.

[2018-04-26 08:48] #863 closed

[2018-04-26 09:56] SethTisue commented on #863
@fsalvi awesome! I guess I should have said so earlier, but could you do docs.scala-lang.org as well...?

[2018-04-26 12:17] fsalvi commented on #863
Yes, it was already planned. I will do it soon.

[2018-04-28 11:46] SethTisue commented on #761
this is no longer an issue now that the current Scala version (2.12.6) works fine on JDK 8, 9, and 10.

[2018-04-28 11:46] #761 closed

[2018-04-30 13:50] fsalvi commented on #863
It's done for docs.scala-lang.org

[2018-04-30 14:28] SethTisue commented on #863
@fsalvi fantastic, thank you!

ENCRYPT ALL THE THINGS!

[2018-05-02 16:09] SethTisue commented on #463
the transition to Travis-CI is now complete. https://github.com/scala/scala-dist/blob/2.12.x/scripts/jobs/release/website/archives actually uploads the distribution packages to the server; the downloads page is still generated by https://github.com/scala/make-release-notes, as before.

[2018-05-02 16:09] SethTisue commented on #463
I think the work needed for this may be confined to https://github.com/scala/make-release-notes, at least, if that isn't true, I don't see why.

[2018-05-02 16:10] SethTisue commented on #463
to understand how this stuff works overall, it may be useful to consult e.g. https://github.com/scala/scala-dev/issues/490 (the release steps we followed for 2.12.6)

[2018-05-02 16:12] SethTisue commented on #62
sbt did this for their website at https://github.com/sbt/website/pull/635

[2018-05-02 16:29] ashawley commented on #62
This was done in the redesign last summer, #679

[2018-05-02 16:37] dwijnand commented on #62
https://github.com/scala/scala-lang/blob/cd398a49aaa65d62e0fc5efbe8920e4f84438b0b/_includes/sidebar-toc.html#L9

:+1:

[2018-05-02 16:50] SethTisue commented on #62
oh, okay, awesome!

[2018-05-02 16:50] #62 closed

[2018-05-03 16:28] ashawley commented on #463
+1, but should probably be a new issue?

[2018-05-03 22:39] NthPortal commented on #463
What's the value of adding a checksum?

- if it's served over HTTP, the attacker can change the displayed checksum
- if it's served over HTTPS, you have assurance that no one has tampered with the file

There is the case where the page is HTTPS, but the download link is HTTP where this would help slightly, BUT:

- the download needs to be HTTPS anyway
- most people don't verify the checksum, so it

[2018-05-03 22:43] ashawley commented on #463
Layered security?

[2018-05-03 23:00] NthPortal commented on #463
I'm not overly convinced of the added security - it's the same layer in most cases.

If it's served over HTTP, the checksum is no more reliable than the download, so it adds no value. If it's served over HTTPS, the integrity of the checksum is the same as that of the download, so it adds no value.

*Perhaps* there is value added if the webpage is hosted separately from the download, so that the co

[2018-05-04 08:58] SethTisue commented on #463
sounds convincing to me. I'm not very savvy about this stuff.

should we close this ticket and open a new one on the gpg issue?

[2018-05-04 09:15] ashawley commented on #463
By "layered", I mean that the checksum provides verification for data at rest, while HTTPS only provides data in motion.

fine with me.

[2018-05-08 09:53] #463 closed

[2018-05-13 21:33] NthPortal commented on #463
I want to clarify my thoughts/stance on this, particularly in light of [this comment](https://github.com/scala/scala-dist/issues/188#issuecomment-388653126).

I don't think this is hugely valuable, because (among other things) most people don't verify checksums. Consequently, I don't think it's something the Scala team, which is already stretched somewhat thin, should put effort into. Nor do I thi

[2018-05-16 10:19] Philippus opened #895 "Current events troubles"
The frontpage and the events pages treat 'current events' differently. The frontpage will show them on the first day (but not on the later days of a multi-day event), the 'past events' page will not show them until the first day has passed. The 'upcoming events' page will not show them.

I'm pondering if an event that is happening right now is a 'past event', an 'upcoming event', neither, or both?

[2018-05-17 08:43] dwijnand commented on #881
Additionally (I can split this into a separate issue) https://travis-ci.org/scala/scala-lang/builds/380079726 from https://github.com/scala/scala-lang/pull/896/commits/38c24d1f47304baee8e13fafba1c57ca5bae2e3c failed with:

[code]

[2018-05-21 11:59] SethTisue commented on #895
fixed by #899?

[2018-05-21 12:05] #895 closed

[2018-06-07 05:08] victe opened #904 "No VS Code or Emacs suggestions in "IDEs for Scala" section in front page of https://www.scala-lang.org/"
That section shows only: IntelliJ, Sublime, Atom and Eclipse.
VS Code and GNU Emacs are as good as Sublime and Atom. All of them need Ensime.

[2018-06-07 07:40] heathermiller commented on #904
I think VS Code is definitely worth mentioning. Emacs though; everyone who already uses Emacs (or Vim) typically don't need help to be aware that there exists plugins for their text editor. The CS bachelors' and masters' students that I have taught at Northeastern and EPFL tend to avoid Emacs and Vim these days in favor of editors like VS Code, Sublime, and Atom. That said, I think we should cater

[2018-06-08 03:04] SethTisue commented on #881
I see at https://github.com/gjtorikian/html-proofer that a `--url-ignore` option is supported

[2018-06-08 03:09] SethTisue commented on #904
agree that should be addressed somehow.

because it's the front page, it should be done in a way that doesn't use up too much screen real estate or create too much distraction by presenting too many options. so I agree with:

but I do think there's room to at least link to information about other options in the smaller print.

in short, pull request welcome!

[2018-06-11 12:44] Philippus opened #905 "Events not updating"
Right now there's an 'old' event on the website, I think it's because it is only refreshed after a successful build. If that is the reason Travis CI could be set up to run the build daily.

[2018-06-11 13:41] SethTisue commented on #905
I have enabled a daily run at https://travis-ci.org/scala/scala-lang/settings

we see at https://travis-ci.org/scala/scala-lang/builds/388968739 that the build is failing with broken links

https://trends.google.com/trends/explore?date=all&q=scala%20tutorial is a 429. we should exclude the domain from checking

http://scalameta.org/scalafmt/#Configuration is 404, which I've reported to https://git

[2018-06-11 14:39] SethTisue commented on #905
the daily Travis-CI run won't help with this, because it's actually https://scala-webapps.epfl.ch/jenkins/view/All/job/production_scala-lang.org-builder/ that publishes the site . regardless, I'll leave the daily run enabled, it will give us notice on broken links

[2018-06-11 14:41] SethTisue commented on #905
somewhat to my surprise, I have the rights to change that Jenkins' job's configuration, so I added `@daily` to the build triggers

[2018-06-11 14:41] #905 closed

[2018-06-11 15:54] #881 closed

[2018-06-18 23:39] metaphori opened #915 "List views, flatmap, and forcing"
Consider this [SO thread](https://stackoverflow.com/questions/50893456/scala-mixing-view-and-strict-collection-in-for-expression/50894272).
It is not easy to understand how things work (or why they do this way) in these two cases:

[code]

The result of example 0 is somewhat unexpected (as the SeqView nature is preserved on flatmap, even though the flatmap's production is not a view). In particula

[2018-06-19 01:34] SethTisue commented on #915
is this in reference to some content on https://scala-lang.org? if so, can you include a link to the page question?

if it's just a general Scala question, please ask on https://users.scala-lang.org instead

[2018-06-23 23:24] bachos opened #920 "SSL Cert for https://downloads.lightbend.com/ expired"
I was trying to download a latest Scala binary from https://downloads.lightbend.com/ and it seems that the SSL cert expired in Jun 22.

I just want to let you guys know.

Cheers

[2018-06-24 01:30] SethTisue commented on #920
(also reported by @DarkDimius on Gitter)

[2018-06-24 01:32] SethTisue commented on #920
(I've raised this on Lightbend’s internal Slack)

[2018-06-24 21:49] xingyif commented on #614
FYI, scalabridge has a [resources](https://scalabridge.gitbooks.io/curriculum/content/resources.html) page that might be useful. It separates available resources by levels: Introductory, intermediate, and advanced, and also directly link to them.

[2018-06-25 18:52] #698 closed

[2018-06-25 19:18] SethTisue commented on #920
I've heard this may be fixed now, can someone verify...?

[2018-06-25 19:31] edwardcallahan commented on #920
Example: https://downloads.lightbend.com/cinnamon/docs/2.10.0-20180605-26e7708-streams/setup/cinnamon-agent-sbt.html

[2018-06-25 19:46] SethTisue commented on #920
thanks @edwardcallahan!

[2018-06-25 19:46] #920 closed

[2018-06-25 20:33] SethTisue opened #921 "training page is blank"
https://www.scala-lang.org/training/ has nothing

sequel to #919, which fixed up the training section of the front page

[2018-06-30 18:51] dylanowen opened #923 "/training page and the front page don't include "On Demand" training"
Lightbend training data includes "On Demand" training which we don't display on our front page or /training pages

[code]

[2018-07-09 12:42] CyberGear opened #926 "No direct link to deb or rpm packages"
Could You provide link to www.scala-lang.org/files/archive/ packages near scala download options? because sometimes it is good to have possibility to install direct packages, and at this point it is kind of hard to find those unless you know where to find

[2018-07-11 23:44] #921 closed

[2018-07-16 16:56] Blaisorblade opened #929 "Nightly docs for 2.13 unlinked; 2.12 and 2.13 nightly docs are outdated"
- https://www.scala-lang.org/files/archive/nightly/2.13.x/api/2.13.x/ is not linked from https://docs.scala-lang.org/api/all.html
- it doesn't seem to reflect the 2.13 APIs — for instance https://www.scala-lang.org/files/archive/nightly/2.13.x/api/2.13.x/scala/index.html still has `type Seq[+A] = scala.collection.Seq[A]`.

@SethTisue asked for a ticket on Gitter, here it is.

[2018-07-18 16:49] marnux commented on #701
The issue is situated in the Simple Jekyll Search plugin. Which is out of scope for the scala spree.
Either this needs to be fixed in the plugin or another plugin needs to be chosen with this functionality.
I made a pull request to pull in the latest version of the plugin, it at least prevents the result container from being cleared when pushing the arrow keys.

[2018-07-18 17:04] SethTisue opened #932 "upgrade Jekyll to 3.8.x?"
we're on 3.5.2, https://jekyllrb.com is at 3.8.3. that seems like we've fallen pretty far behind

would someone like to take a look and see if this would be a desirable upgrade for us here (and on docs.scala-lang)?

[2018-07-19 00:16] SethTisue opened #933 "new htmlproofer failures"
seen at e.g. https://travis-ci.org/scala/scala-lang/builds/405576488

[code]

[2018-07-19 00:18] SethTisue commented on #933
not sure whether these should be replaced with better links, or whether we should just exempt the domains from checking (as in #906)

[2018-07-20 00:35] SethTisue commented on #701
verified that that the PR makes the improvement described, at least. thank you!

[2018-07-20 00:35] #701 closed

[2018-07-20 00:38] SethTisue commented on #932
optimistically labeled "good first issue", on two conditions:

* you'll need to already have, or acquire, a little basic knowledge of Jekyll and Gemfiles
* you might run into trouble, but even if you get stuck, it would still be valuable to have tried and to report back on the difficulty you encountered

[2018-07-20 00:50] SethTisue commented on #929
labeled "good first issue" since the first bullet should be a quick fix. we can remove the label if just that part gets fixed

[2018-07-20 00:52] SethTisue commented on #929
as for the second bullet, the 2.13 docs shown are from January 31, 2018, which iirc correctly is around when we moved publishing of nightlies off Jenkins and onto Travis-CI. 2.12 is affected equally.

I see from looking at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-release-website-update-api/ that the script that used to actually do the work is `scripts/jobs/release/website/u

[2018-07-21 12:53] propensive opened #936 "Events page no longer displays events"
The events page here,
https://www.scala-lang.org/events/
appears to momentarily display upcoming events, but quickly refreshes to display only a list of trainings.

I've not investigated why, but I've been relying for a while on this page to work out where in the world I need to be on any date. ;)

[2018-07-21 13:03] #904 closed

[2018-07-21 14:06] Philippus commented on #936
This is a regression introduced in https://github.com/scala/scala-lang/pull/924. I've made a PR to fix it.
Ultimately the cause is too much code reuse between trainings and events. They are not so similar after all.

[2018-07-21 14:41] #936 closed

[2018-07-21 14:42] propensive commented on #936
Thank you, @Philippus! It's great that I can raise an issue like this and about an hour later someone steps up to fix it!

[2018-07-22 08:34] jvican commented on #701
Would it make sense to remove this Jekyll search and use instead the new algolia search that we use in docs?

[2018-07-24 19:34] #851 closed

[2018-07-24 19:35] SethTisue commented on #557
note to first-time contributors: although the spec is published on scala-lang.org, the actual files containing the spec are in the scala/scala repo, at https://github.com/scala/scala/tree/2.13.x/spec

[2018-07-25 08:36] jan0sch commented on #932
I'm looking into this. Bundler refuses to update jekyll farther than 3.6 so I'm trying something else.

[2018-07-25 08:43] jan0sch commented on #932
Okay, pull request created: #940

[2018-07-29 06:01] tldzyx opened #943 "Path and Environment"
[Path and Environment](https://github.com/scala/scala-lang/blob/master/download/install.md)

Why not
---

## Path and Environment

For quick access, add `scala` and `scalac` to your path. For example:

| Environment | Variable         | Value (example)
|:------------|:-----------------|:---------------
| Unix        | `$SCALA_HOME`    | `/usr/local/share/scala`
|             | `$PATH`          | `

[2018-07-30 19:02] SethTisue commented on #943
yes, I think that would be preferable. I think a pull request with this change would be accepted

[2018-07-31 19:46] #932 closed

[2018-08-04 21:07] SethTisue opened #945 "403 links causing CI failures"
so e.g. https://travis-ci.org/scala/scala-lang/builds/412090629 has

[code]

previously: #933, I guess #939 wasn't enough?

[2018-08-04 22:19] SethTisue opened #946 "happy 5th anniversary, new scala-lang.org!"
old new, not new new...

![2018-07-30 07 46 42](https://user-images.githubusercontent.com/161079/43680888-a7f8af5c-97f9-11e8-9eae-f8e5c7e7ddd9.png)

🎂

[2018-08-04 22:19] #946 closed, assigned to nobody

[2018-08-04 22:41] ashawley commented on #945
I've never seen "403 No erorr".  Usually, 403 is "Forbidden" message, but the message is "No error".   That message is something Oracle's web servers are giving us, not something that html-proofer is doing, see https://github.com/gjtorikian/html-proofer/blob/a9bff12/lib/html-proofer/url_validator.rb#L166

[2018-08-04 23:02] ashawley commented on #945
If we take it literally, it sounds like it is not an error and we just ignore?   Perhaps, there is nothing to change?  Most redirects are 3xx level responses.

[2018-08-05 12:50] heathermiller commented on #946
Aww Seth ♥️♥️

[2018-08-05 23:33] jvican commented on #943
In the unix case this is not preferable since putting `$SCALA_HOME/bin` before the rest of the previous `PATH` poses a security problem and makes it easier for an attacker to replace common utilities like `ls` or `echo` or `cat`. I think it's a convention to always add path entries to the end, not at the beginning.

[2018-08-06 14:10] SethTisue commented on #943
Interesting, I've been doing the opposite for 25 years. A few minutes of googling doesn't turn up a clear consensus either way.

[2018-08-06 14:14] SethTisue commented on #945
from https://github.com/gjtorikian/html-proofer/blob/master/bin/htmlproofer it looks like we could do `--http-status-ignore 403`, then

[2018-08-06 14:15] SethTisue commented on #945
idk, maybe it's better to just exclude www.oracle.com from checking, since it sounds like they're doing something unusual with 403

[2018-08-06 14:54] jvican commented on #945
let's do this, it's better than ignoring all 403 :+1:

[2018-08-06 14:58] ashawley commented on #945
Yeah, it's better to not ignore 403s.  Best to just ignore their domain for the time being.  Maybe Oracle's web hosting is throttling the html-proofer user-agent string or considers the Travis server IPs as malicious.

[2018-08-06 21:25] SethTisue commented on #639
I wonder if this is still even an issue...

[2018-08-08 02:05] NthPortal commented on #943
I'm with @jvican here. The only good reason I see to put it first is if you're trying to replace a normal system executable with one of your own (e.g. if you would like to use a newer version of Python 3 than the system has installed). However, you should be aware of the security trade-offs as Jorge mentioned.

[2018-08-08 14:52] ashawley commented on #945
No 403s today:

[code]

[2018-08-14 12:39] jvican commented on #639
probably not, let's close it since tut works just fine. if somebody complains we can reopen!

[2018-08-14 12:39] #639 closed

[2018-08-17 22:04] jvican commented on #945
I will try to port this to a cron job

[2018-08-23 18:50] SethTisue commented on #707
closing for inactivity

[2018-08-23 18:50] #707 closed

[2018-08-25 05:38] mghildiy commented on #850
I would like to work if this is already not being looked into.

[2018-08-26 02:52] SethTisue commented on #923
(not sure, but I wonder if it's better to just put ongoing, on-demand things on https://www.scala-lang.org/community/ and maybe add a link to that page from the training page)

[2018-08-31 16:50] mghildiy commented on #850
I would first work on Tour(in repo it is _tour, just to be sure).
From second para in Tour section above I can figure out that following needs to be added to tour:
HKTs(higher kind types)
(G)ADTs
type members
tuples

I am not very clear about third and fourth para.

Also, as I gather material to be added I would keep posting it here so that people can verify with quality of the material.
Please le

[2018-08-31 17:38] jvican commented on #850
Do we want to add HKT and type members and more advanced features in the tour or should we leave them out and focus on improving the quality/quantity elsewhere?

@martijnhoekstra Your lead here would be much appreciated. I feel you have a better understanding of the current docs and a much clearer idea of how to improve them than I do.

[2018-09-04 12:34] mghildiy commented on #850
Thanks for inputs.
Would start working soon.

[2018-09-04 15:51] SethTisue commented on #850
+10 to a tuples section, this is a basic thing that should be covered, especially since our tuples are sharply different from Python tuples which is where folks are likeliest to have encountered the word "tuple" before
+1 to a HKT section
+1 to an ADT section (but not GADTs IMO, except maybe for maybe like one sentence with a link to elsewhere)

type members, there probably ought to be a section,

[2018-09-04 17:37] martijnhoekstra commented on #850
Agreed on the tuples as a high priority addition.

Also +1 to keeping type parameters and type members close together.

[2018-09-08 16:36] mghildiy commented on #850
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
An Algebraic data type(ADT) is a kind of composite type, i.e., a type formed by combining existing types.
ADTs define a fixed set of all possible values of a given type.
In Scala ADT can be categorized as:
Sum type
Simple examples of ADT:
class Car{}
class Truck{}
Now,we can creat

[2018-09-09 03:16] mghildiy commented on #850
I have added tuples to tour. I have few questions:

1. Where in the sequence I should add tuples?
2. I assume number is inserted by build process.Right?
3. Can I make a commit with just tuples, adding other topics later on?

[2018-09-11 08:58] mghildiy commented on #850
@jvican, @SethTisue , @martijnhoekstra

[2018-09-11 10:19] martijnhoekstra commented on #850
@mghildiy I would suggest to add tuples near the beginning, maybe right before "Class Composition with Mixins"?

I'm not entirely sure about the build process -- I assume the same.

A piecemeal approach with tuples now and other topics later also sounds great, so that PRs remain independent and discussion on one shouldn't bog down another.

[2018-09-11 14:36] SethTisue commented on #850
yeah separate PRs is good

I forget how the numbering works, maybe look at a previous PR that added a new section to see what had to change